<header class="header">
  <div class="h-100 page-w mg-row-center">
    <div class="header__top">
      <h1><a href="#" class="header__logo txt-transparent">카카오페이지</a></h1>
      <div class="flex items-center">
        <div class="search__form">
          <form name="search" class="flex items-center_justify-center">
            <label for="search__input" class="d-none">컨텐츠 검색 </label>
            <input id="search__input" class="search__input" type="text" />
            <img class="search__btn" src="/img/btn_search.png" alt="검색 버튼" />
          </form>
        </div>
        <div class="mg-l-20 mg-r-20">
          <a class="flex" href="#"><img src="https://static-page.kakao.com/static/common/pc-logo-stage.svg?67473e9acf34aa0425a982b16f882f5f" alt="스테이지" /></a>
        </div>
        <button class="header__btn__login flex items-center_justify-center">
          <div>캐시충전</div>
          <div class="bar"></div>
          <div>로그인</div>
        </button>
      </div>
    </div>
    <h2 class="hide-text">카테고리</h2>
    <nav>
      <ul class="gnb">
        <li class="gnb__item">
          <a href="#"><img src="/img/menu_home.svg" alt="홈" /></a>
        </li>
        <li class="gnb__item gnb__item__selected">
          <a href="#"><img src="/img/menu_toon.svg" alt="웹툰" /></a>
        </li>
        <li class="gnb__item">
          <a href="#"><img src="/img/menu_novel.svg" alt="웹소설" /></a>
        </li>
        <li class="gnb__item">
          <a href="#"><img src="/img/menu_vod.svg" alt="영화" /></a>
        </li>
        <li class="gnb__item">
          <a href="#"><img src="/img/menu_broadcast.svg" alt="방송" /></a>
        </li>
        <li class="gnb__item">
          <a href="#"><img src="/img/menu_book.svg" alt="책" /></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
