
.article__weekdays-top {
    height: 600px;
    width: 720px;
    margin-top: 10px;
    background-color: #fff;
}

.article__header {
    display: flex;
    flex-direction: column;
    height: 60px;
    /* 이부분하고 변동가능성 있는 부분. */
}

.article__header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 10px 15px;
    margin: 0;
    font-size: 15px;
}

.article__header-text-wrapper {
    display: flex;
    align-items: center;
}

.article__header-button {
    background-color: #fff;
    border: none;
    margin: 3px;
    font-size: 15px;
    color: grey;
}

.article__nav {
    margin: 0;
    height: 60px;
    width: 720px;
    background-color: red;

    border-bottom: 1px solid var(--main-color);
    /* 오류 발생 부분 */
}

.article__nav-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 10px 40px;
    margin: 0;
    font-size: 24px;
    list-style: none;
}

.article__books2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article__books5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin-top: 10px;
    background-color: #fff;
}


.article__ranking3 {
    width: 720px;
    height: 490px;
    margin-top: 10px;
    background-color: #fff;
}

.article__ranking3 header {
    height: 50px;
}

.article__ranking3-list {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px;
}

.article__ranking3-num {
    margin-right: 10px;
    font-size: 25px;
    font-weight: 800;
}

.article__ranking3 img {
    width: 80px;
    height: 110px;
    margin: 10px;
}

.article__ranking-list-text-wrapper {
    padding: 10px;
}

.article__ranking-list-text {
    font-size: 16px;
}