footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #bdbdbd;
}
footer > .container {
    display: flex;
}
.footer-left {
    width: 100%;
}
.footer-right > img {
    width: 55px;
    height: 55px;
    margin-top: 60px;
}
.footer-right > p {
    font-size: 12px;
    margin-top: 3px;
    text-align: center;
}
.policy {
    padding: 60px 0 0;
    color: #bdbdbd;
    font-size: 14px;
}
.companyInfoWrap {
    margin-top: 5px;
}