.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 720px;
    height: 250px;
    margin-top: 15px;
}

.footer__toApp-button {
    height: 70px;
    background-color: var(--sub-color);
    border: none;
    font-size: 24px;
}

.footer__infor-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__infor-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 14px;
    color: grey;
}

.footer__infor-text {
    margin-top: 5px;
}

.footer__infor-image-wrapper img {
    width: 60px;
}