body {
    font-size: 16px;
    font-weight: 400px;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #eee;
    color: #3a3a3a;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border: none;
    background: transparent;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}

.title {
    font-weight: bold;
}

.wrap {
    margin: 0 auto;
    width: 700px;
}

.group-flex {
    display: flex;
}

.bg-white {
    background-color: #fff;
}
