@import "style.css";

/*body * {*/
/*    border: black solid 1px;*/
/*}*/

header {
    background-color: var(--main-white);
    margin: 0 auto;
    width: 50%
}

.head {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%
}

.head h1 {
    font-size: 30px;
}
.head__item {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
}

.head__item form {
    border-color: var(--main-gray);
    border: 1px solid;
    border-radius: 5px;
    margin-right: 5px;
    height: 30px;
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

.head__item input {
    width: 100px;
    border: 0;
    outline: 0;
}

.head__item>form img {
    width: 20px;
}

.head__item ul {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 95%;
}

.head__item li {
    width: 80px;
    line-height: 100%;
    font-size: 20px;
    text-align: center;
}

.head__item ul li>img {
    position: relative;
    top: 2px;
}

.head__item li>div {
    width: 5px;
}

.navigation {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin-top: 20px;
}

.navigation ul {
    display: flex;
    flex-flow: row;
    flex-basis: 100%;
    justify-content: space-evenly;
}

.nav__under {
    border-bottom: var(--main-yellow);
    border-bottom-width: 3px;
    border-bottom-style: solid;
}