/* 
    header: width 100%
    main-content: 720px?, align-center

*/

* {
  font-family: NotoSans;
  line-height: 1.4;
  font-size: 16px;
  text-align: center;
}

body {
  background-color: #eee;
}

button {
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  width: 100%;
  background-color: #fff;
}

nav {
  width: 720px;
}
nav.menu-top {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: none;
}
nav > div {
  display: flex;
  flex-direction: row;
}
nav.menu-list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav.menu-list ul li {
  position: relative;
  box-sizing: border-box;
  min-width: none;
  flex: 1 1 auto;
  padding: 30px 0 15px;
}

.css-kakaopage {
  margin-top: 27px;
  margin-bottom: 19px;
  cursor: pointer;
}

.search-wrap {
  display: flex;
  width: 180px;
  line-height: 23px;
  height: 28px;
  padding: 2px;
  border: 1px solid #cfcfcf;
  background: #fff;
  border-radius: 30px;
  margin-top: 27px;
  margin-bottom: 19px;
}

.search-form {
  display: block;
}

.search-input {
  width: 136px;
  height: 100%;
  border: 0;
  margin-left: 10px;
  text-align: left;
  background: #ffffff;
}

.css-searchBtn {
  display: block;
  margin: 0;
  min-width: 0;
  padding-right: 0px;
  margin-top: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

div.menu-stage {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: relative;
  border: 0;
  outline: 0;
  background-color: transparent;
}

img.css-stage {
  min-width: 0;
  max-width: 100%;
  height: auto;
}

button.menu-cash {
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 18px;
  color: #999;
  background-color: transparent;
  min-width: 0;
  max-width: 100%;
  height: auto;
}

.kakaopage-menu2 {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #999;
  padding: 0;
  background-color: transparent;
  margin-top: 30px;
  border: 0;
  outline: 0;
}

.kakaopage-menu2 div {
  margin-left: 22px;
}

.kakaopage-menu {
  position: relative;
}

img.css-stage-tooltip {
  position: absolute;
  top: 59px;
  left: 170px;
  width: 137px;
  height: 33px;
  max-width: none;
}
