@import "style.css";

/*body * {*/
/*    border: black solid 1px;*/
/*}*/

/*
common
 */

.l-center {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.l-inline {
    display: flex;
    flex-flow: row;
}

.margin-center {
    margin: 0 auto;
    width: 50%
}

/*
header
 */
.header {
    background-color: var(--main-white);
}

.head {
    justify-content: space-between;
    height: 80px;
    width: 100%
}

.head__title {
    font-size: 34px;
}
.head__menus {
    justify-content: space-between;
    height: 30px;
}

.head__search {
    border: 1px solid var(--main-gray);
    border-radius: 17px;
    width: 150px;
    height: 30px;
    overflow: hidden;
    justify-content: space-between;
    padding: 0 10px;
}

.head__search__input {
    width: 100px;
    border: 0;
    outline: 0;
    line-height: 20px;
}

.head__search__button {
    width: 20px;
    height: 20px;
    border: 0;
    background: url('../images/ico-btn-search.png') no-repeat center / 100% auto;
}

.head__stage {
    margin: 0 10px;
}

.head__users {
    width: 130px;
    justify-content: space-between;
}

.head__user {
    font-size: 19px;
    text-align: center;
    color: lightgray;
}

.headNav {
    margin: 20px 0 auto;
    width: 100%;
    height: 30px;
}

.headNav__menus {
    justify-content: space-evenly;
    height: 100%
}

.headNav__menu {
    height: 100%;
    width: 15%;
    justify-content: center;
}

.headNav__link {
    font-weight: 500;
    font-size: 24px;
    color: var(--main-black);
    text-align: center;
    text-decoration: none;
}

.headNav__under {
    border-bottom: var(--main-yellow);
    border-bottom-width: 3px;
    border-bottom-style: solid;
}