@import "style.css";

.main {
    width: 100%;
    height: 100%;
    padding-top: 135px;
    background-color: var(--main-gray);
    z-index: 1;
}

.mainNav {
    margin: 5px auto;
    background-color: var(--main-white);
    width: 50%;
    line-height: 50px;
}

.mainNav__menus {
    justify-content: space-evenly;
}

.mainNav__menu {
    font-size: 20px;
    color: var(--main-lightgray);
    text-align: center;
}

.menu-on {
    color: var(--main-black)
}

.contents {
    position: relative;
}

.contents__img {
    width: 100%;
    display: block;
}

.contents__prevButton {
    display: block;
    position: absolute;
    border: 0;
    width: 40px;
    height: 40px;
    left: 2%;
    top: 45%;
    background: url("../images/slide-previous-button.svg") no-repeat center / 100% auto;
}

.contents__nextButton {
    display: block;
    position: absolute;
    left: 93%;
    top: 45%;
    border: 0;
    width: 40px;
    height: 40px;
    background: url("../images/slide-next-button.svg") no-repeat center / 100% auto;
}

.contents__text {
    position: absolute;
    bottom: 50px;
    left: 20px;
    margin-bottom: 2px;
}

.text__name {
    font-size: 34px;
    font-weight: bold;
    color: var(--main-white);
}

.text__info {
    margin-top: 5px;
}

.text__event {
    display: inline;
    padding: 2px;
    border: 1px solid var(--main-gold);
    background-color: var(--main-black);
    color: var(--main-gold);
    font-size: 15px;
    border-radius: 3px;
}

.text__info-style {
    font-size: 18px;
    margin-right: 2px;
    color: var(--main-white);
}

.contents__sentence {
    text-align: center;
    font-size: 18px;
    background-color: var(--main-gold);
    height: 30px;
    padding-top: 12px;
    margin-top: -1px
}

.category {
    margin: 10px auto;
    width: 50%;
    background-color: var(--main-white);
}

.category__menus {
    padding: 12px 0;
    width: 100%;
    flex-flow: wrap;
    justify-content: center;
    height: 95px;
    gap: 0px 7px;
}

.category__menu {
    width: 30%;
    height: 40px;
    background-color: var(--main-gray);
    text-align: center;
    line-height: 40px;
    font-size: 22px;
}

.daily {

}

.daily__nav {
    width: 100%;
    justify-content: space-around;
    background-color: var(--main-white);
    height: 60px;

}

.daily__button {
    border: 0;
    width: 45px;
    background-color: inherit;
    font-size: 19px;
    color: var(--main-lightgray)
}

.daily__button-on {
    color: var(--main-black);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: var(--main-gold);
}

.daily__contents {
    flex-flow: wrap;
    background-color: var(--main-white);
}

.daily__content {
    width: 110px;
    margin: 15px;
}
.content__inner {
    border: var(--main-lightgray);
    border-radius: 5px;
    overflow: hidden;
}

.daily__img {
    width: 100%;
    display: block;
}
.daily__bar {
    background-color: var(--main-black);
    color: var(--main-gold);
    height: 20px;
    line-height: 20px;
    padding-left: 4px;
}

.daily__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 15px 0;
    font-size: 16px;
}

.daily__views {
    padding-left: 15px;
    color: var(--main-lightgray);
    font-size: 15px;
    background: url('../images/icon_read_count.png') no-repeat left center / auto 14px;
}


