/* ======== main__banner와 expect-new__top이 공통적으로 가지는 style ======== */
.banner {
  position: relative;
  margin-top: 12px;
}

.banner__info {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: var(--white-color);
}

.banner__summary {
  text-align: center;
  padding: 12px 0;
  font-size: 1.25rem;
  background-color: var(--main-point-color);
  color: var(--black-color);
}

/* 배너 화살표 */
.banner__prev, .banner__next {
  position: absolute;
  z-index: 10;
  top: 45%;
  padding: 10px 16px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: var(--white-color);
}

.banner__prev {
  left: 20px;
}

.banner__next {
  right: 20px;
}

/* ======== main_banner ======== */
.main__banner {
  width: 720px;
  overflow: hidden;
}
.main__banner .banner__list {
  transition: transform 0.5s;
}

.main__banner .banner__item {
    /* 이미지 삽입시 삭제할 영역 */
  width: 720px;
  height: 480px;
  background-color: coral;
}

.main__banner .banner__img {
  width: 720px;
}

.main__banner .banner__list {
  width: 100%;
  justify-content: flex-start;
}

.main__banner .banner__title {
  margin-left: 24px;
  font-size: 1.75rem;
}

.main__banner .banner__viewer {
  display: flex;
  align-items: baseline;
  margin: 16px;
}

.main__banner .banner__viewer p {
  padding: 0 8px;
  font-size: 1rem;
}

.main__banner .banner__count {
  position: absolute;
  bottom: 12%;
  right: 5%;
}

.main__banner .banner__count span {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.864);
}

/* ======== promotion banner ======== */
.promotion__banner {
  position: relative;
  margin-top: 12px;
  background-color: var(--white-color);
  padding: 20px;
}

.promotion__banner .banner__prev, 
.promotion__banner .banner__next {
  position: absolute;
  top: 50%;
  padding: 8px 14px;
  border: 1px solid lightgrey;
  color: var(--non-focus-font-color);
}

.promotion__banner img {
  width: 550px;
  height: 100px;
}

/* ======== expect-new-top ======== */
.expect-new__top .banner__list {
  justify-content: space-between;
  padding: 20px;
}


.expect-new__top .banner__item {
  position: relative;
  display: block;

  /* 이미지 삽입시 삭제할 영역 */
  width: 335px;
  height: 223px;
  background-color: coral;
  border-radius: 0 0 8px 8px;
}

.expect-new__top img {
  border-radius: 8px;
  width: 335px;
  height: 223px;
}

.expect-new__top .banner__title {
  margin-left: 12px;
}

.expect-new__top .banner__viewer {
  display: flex;
  align-items: baseline;
}

.expect-new__top .banner__viewer p {
  padding: 12px;
  font-size: 0.875rem;
}

.expect-new__top .divider {
  height: 10px;
}

.expect-new__top .banner__summary {
  padding: 8px;
  border-radius: 0 0 8px 8px;
  font-size: 0.875rem;
}
