/* ======== main ======== */
/* ======== genres__list ======== */
.genres__list {
  margin-top: 20px;
  padding: 24px 0;
  font-size: 20px;
  background-color: var(--white-color);
}

.genres__list li a {
  color: var(--non-focus-font-color);
}

.genres__list .genres--focused {
  color: var(--black-color);
}

/* ======== theme ======== */
.theme {
  margin-top: 12px;
  padding: 20px;
  background-color: var(--white-color);
}

.theme__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 4px;
  column-gap: 4px;
  text-align: center;
}

.theme__item {
  padding: 24px;
  background-color: var(--main-bg-color);
}

.item__text {
  font-size: 18px;
  color: var(--black-color);
}

.item__highlight {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 14px;
  background-color: var(--main-point-color);
}

/* ======== daily__top ======== */
.daily__top .select__day {
  padding: 16px 28px 0;
}

.daily__top .day {
  width: 100%;
  padding: 16px 0;
  text-align: center;
  border-bottom: 1px solid var(--main-bg-color);
}

.daily__top .select__day .day button {
  font-size: 20px;
  color: var(--non-focus-font-color);
}

.daily__top .select__day .daily__top--focused {
  border-bottom: 2px solid var(--main-point-color);
}

.daily__top .select__day .daily__top--focused button {
  color: var(--black-color);
}

/* ======== daily__select__day ======== */
.daily__select__day {
  margin-top: 12px;
  padding: 8px 0;
  border-bottom: 1px solid var(--main-bg-color);
  background-color: var(--white-color);
}

.daily__select__day li button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 20px;
  color: var(--non-focus-font-color);
}

.daily__select__day .day--focused {
  background-color: var(--main-point-color);
  color: var(--black-color);
}

/* ======== daily__select__options ======== */
.daily__select__options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid var(--main-bg-color);
  font-size: 16px;
  background-color: var(--white-color);
  color: var(--non-focus-font-color);
}

.daily__select__options .options--focused {
  color: var(--black-color);
} 

.options__btn li button {
  padding: 0 16px;
  font-size: 20px;
  color: var(--non-focus-font-color);
}

.options__genre {
  display: flex;
}

.options__genre .options__genre-btn {
  font-size: 16px;
  color: var(--non-focus-font-color);
}

/* ======== daily__ranking ======== */
.ranking__list {
  flex-direction: column;
  padding: 20px 0;
}

.ranking__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item__ranking {
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}

.ranking__item .item__info {
  padding: 20px;
}

.ranking__item .item__info p {
  display: inline-block;
  padding: 16px 0;
  font-size: 14px;
  color: var(--non-focus-font-color);
}

.ranking__info .item__text {
  padding: 4px;
  color: var(--non-focus-font-color);
  font-size: 14px;
}

/* ======== event ======== */
.event__img {
  padding: 20px;
}

/* ======== move-app======== */
.move-app {
  margin-top: 12px;
  padding: 24px;
  text-align: center;
  background-color: var(--main-point-color);
}