.toon-category {
  margin-top: 163px;
  width: 100%;
  box-sizing: border-box;
  color: rgb(187, 187, 187);
  font-weight: 550;
  line-height: 1.15;
}

.toon-category ul {
  display: flex;
  width: 720px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0px auto;
}

.toon-category li {
  box-sizing: border-box;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  padding: 22px 0px;
  font-size: 20px;
  display: flex;
}

.toon-main {
  width: 720px;
  margin: 11px auto 0px auto;
}

.toon-jumbotron {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 480px;
  background-color: #fff;
}

.toon-jumbotron-box {
  position: absolute;
  width: 100%;
}

.toon-jumbotron__title {
  box-sizing: border-box;
  color: #fff;
  font-weight: 700;
  margin-top: 6px;
  margin-left: 20px;
  font-size: 28px;
  line-height: 1;
}

.toon-jumbotron_content {
  margin: 10px 10px 20px 20px;
  display: flex;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}

:is(.toon-jumbotron__category__image, .toon-jumbotron__view__image) {
  margin: 0 5px 0 10px;
  padding-top: 0px;
}

.toon-jumbotron__intro span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 40px;
  background-color: #ffd200;
  color: #222;
  font-size: 18px;
  font-weight: 600;
}

.toon-todaymenu {
  margin-top: 11px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 161.3px;
  background-color: #fff;
}

.toon-todaymenu a {
  border-radius: 8px;
  background-color: #f3f3f3;
  margin: 1px;
  display: flex;
  width: 33%;
  height: 60px;
}
