
.mid-button__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 720px;
    /* height: 170px; */
    background-color: #fff;
    margin: 0;
}

.mid-button__wrapper button {
    width: 30%;
    height: 65px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    background-color: #eeeeee;
    font-size: 20px;
}

.mid-button__wrapper button:hover {
    cursor: pointer;
}
