@import url(/css/reset.css);
@import url(/css/header.css);
@import url(/css/main.css);

/* 광역 */
* {
  font-family: NotoSans;
  line-height: 1.4;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #eee;
}

button {
  cursor: pointer;
}

div {
  font-family: NotoSans;
}
