@import "reset.css";
@font-face {
  font-family: "gothic";
  src: url("./gothic.ttf") format("truetype");
}

:root {
  --color-yellow-main: #fdd578;
  --color-black-main: #14110a;
  --color-white-main: #f7f1e2;
  --color-grey-main: #999999;
  --border-radius1: 0.5rem;
  --border-main: solid 0.2rem;
  --width-main: 550px;
  --padding-main-top-down: 1.2rem;
}

body {
  font-size: 0.9rem;
  font-family: "gothic";
  background-color: var(--color-yellow-main);
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  text-align: center;
  display: flex;
}

nav > * {
  flex: 1 1 0;
}

section {
  width: var(--width-main);
}

/* HEADER ============================================================ */

header {
  width: 100%;
  background-color: snow;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.header_search {
  display: flex;
  padding: 0.2rem;
  border: var(--border-main) var(--color-yellow-main);
  border-radius: 0.5rem;
  width: 10rem;
}
.header_search input {
  all: unset;
}

.header_contents,
.header_user {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.header_user {
  margin-left: auto;
  justify-content: space-between;
}
.header_user span,
.header_user form {
  margin-left: 10px;
}

header nav {
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* MAIN ============================================================ */

main {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
main section {
  background-color: snow;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

.subnav {
  padding-top: var(--padding-main-top-down);
  padding-bottom: var(--padding-main-top-down);
}

.ads {
  background-color: var(--color-yellow-main);
}

.ads img {
  width: var(--width-main);
  border-radius: var(--border-radius1);
}

.days > * {
  padding-top: var(--padding-main-top-down);
  padding-bottom: var(--padding-main-top-down);
  border-bottom: solid 0.1rem var(--color-yellow-main);
}

.days > *:last-child {
  border-bottom: none;
}

.days_menu {
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.days_menu_left > * {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.days_menu_right {
  font-size: 0.8rem;
  color: var(--color-grey-main);
  margin-left: auto;
}

.days_contents {
}
/* .days_menu_left > *::after {
  content: "|";
  display: inline-block;
  margin-left: 0.25rem;
}

.days_menu_left > *:last-child::after {
  content: "";
} */

/* FOOTER ============================================================ */

footer {
  color: var(--color-black-main);
  width: 100%;
  padding: 1rem;
  margin-top: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
