/*components */
@import "./components/nav-box.css";
@import "./components/image-box.css";
@import "./components/image-card.css";

@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

body {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
