@import "reset.css";

/*components */
@import "./components/nav-box.css";
@import "./components/image-box.css";
@import "./components/image-card.css";
@import "./components/translateX.css";
@import "./components/transition.css";

/*screens */
@import "./screens/webtoon.css";
@import "./webtoon-weekly.css";

@import "header.css";
@import "footer.css";

body {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.selected-text {
  color: #000000;
  position: relative;
  z-index: 1;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #fecc2f;
  border-radius: 50%;
}

.hidden {
  display: none;
}
.weekly-nav {
  cursor: pointer;
}
