:root {
  --yellow: #ffd200;

  /* --normal-component-width: 120px;
  --small-component-width: 84px;
  --big-component-width: 155px;
  --col-component-width: 100%;

  --normal-cover-width: 120px;
  --normal-cover-img-width: 120px;
  --normal-cover-img-height: 120px;

  --small-cover-width: 84px;
  --small-cover-img-width: 84px;
  --small-cover-img-height: 114px;

  --big-cover-width: 155px;
  --big-cover-img-width: 155px;
  --big-cover-img-height: 222px;

  --wide-cover-width: 142px;
  --wide-cover-img-width: 142px;
  --wide-cover-img-height: 96px; */
}
