.webtoon-container {
    box-sizing: content-box;
    width: 680px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.webtoon-info {
    width: 120.4px;
    margin-bottom: 20px;
}

.webtoon-info__thumbnail {
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 10px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.webtoon-info__thumbnail img {
    width: 100%; 
    box-sizing: border-box;
}

.ranking-box {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #242526;
    display: flex;
    justify-content: space-between;
    height: 32px;
    align-items: center;
    box-sizing: content-box;
}

.ranking-box span {
    margin-left: 10px;
    font: 18pt;
    color: #FFD200;
    font-weight: 600;
}

.ranking-box img {
    margin-right: 5px;
    width:30px;
    height: 70%
}

.webtoon-info__detail {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.webtoon-info__title {
    margin: 10px 0px;
    text-overflow: ellipsis;
    height: 40px;
    width:100%;
    overflow: hidden;
    white-space: nowrap;
}

.webtoon-info__views {
    height: 20px;
    display: flex;
    align-items: center;
    opacity: 30%;
}

.webtoon-info__views img {
    filter: invert(100%);
    height: 12px;
    margin-right: 5px;
}
