$black: #333;
$menu-black: #3a3a3a;
$slide-black: #222;
$serial-black: #242526;

$yellow: #ffd200;

$nav-gray: #999;
$day-gray: #bbb;
$desc-gray: #9c9c9c;
$footer-gray: #bdbdbd;
$menu-gray: #f3f3f3;
$border-gray: #f1f1f1;
$more-gray: #adadad;
$more-border-gray: #ddd;
$copyright-gray: #a8a8a8;

$rank-red: #ef5350;

$white: #fff;
$main-white: #eee;
