

div.freeComics{
    margin-top:12px;
    background: #FFFFFF;
    padding:22px 19px;
}

.comicsGrid{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.comicsGrid>.wrapper{
    width:120px;
    margin:0 0 20px;
}
.wrapper>.thumbnail{
    position:relative;
    border-radius:8px;
    border:1px solid rgba(0,0,0,0.1);
    width:auto;
    height:auto;
    overflow:hidden;
}
.wrapper>.thumbnail>img{
    width:100%;
    height:120px;
    display:block;
}
.thumbnail>.rank{
    display:flex;
    align-items: center;
    padding: 0 8px;
    background-color: #242526;
    height:30px;
    justify-content: space-between;
}

.rank>div{
    font-size:16px;
    color:#ffd200;
}
.rank>img{
    font-size:10px;
    display:block;
    height:16px;
    margin-top:2px

}
.wrapper>.title{
    margin: 9px 0 7px;
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.wrapper>.infographic {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #9c9c9c;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.wrapper>.infographic>img{
    width:11px;
    height:11px;
}