.lnb {
  --lnb-text-color: #bbb;
  --lnb-text-selected-color: var(--main-text-color);
}

.lnb {
  font-size: var(--20px);
  background-color: var(--second-bg-color);
}

.lnb__item {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  flex: 1;
  background-color: var(--second-bg-color);
}

.lnb__link {
  font-weight: var(--thin);
  color: var(--lnb-text-color);
}

.lnb__item__selected {
  font-weight: var(--bold);
  color: var(--main-text-color);
}

.lnb__item__modal {
  display: flex;
  justify-content: end;
  color: var(—second-text-color);
  cursor: pointer;
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.lnb .bar {
  margin: 0 10px;
  height: 16px;
  background-color: var(—lnb-text-color);
}