.page-header-container:last-child {
  height: 70px;
}

.page-header-category {
  width: 100%;
  height: 100%;
}

.page-header-category ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.page-header-category li {
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 3px solid #fff;
}

.page-header-category li:nth-of-type(2) {
  border-bottom: 3px solid var(--yellow);
}

.page-header-category img {
  margin: 0 39px;
}
