<<<<<<< HEAD
@import url(./css/component/base.css);
@import url(./css/component/nav.css);
@import url(./css/component/midButton.css);
@import url(./css/component/banner.css);
@import url(./css/component/section.css);

@import url(./css/component/article.css);
@import url(./css/weekdays.css);
@import url(./css/webtoon.css);
=======
@import url(./css/header-nav-banner.css);
@import url(./css/mid-button.css);
@import url(./css/section-book.css);
@import url(./css/article.css);
@import url(./css/recommend-banner.css);
@import url(./css/footer.css);
@import url(./css/weekdays.css);

>>>>>>> 118ddf10b6a1812fc3b35c2cb9735f7c77a729bb
:root {
    --main-color: #eeeeee;
    --sub-color: #f9d201;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}
<<<<<<< HEAD
=======

.nav__list.active {
    font-weight: 800;
}
>>>>>>> 118ddf10b6a1812fc3b35c2cb9735f7c77a729bb
