@import url(./css/component/base.css);
@import url(./css/component/nav.css);
@import url(./css/component/midButton.css);
@import url(./css/component/banner.css);
@import url(./css/component/section.css);
@import url(./css/component/article.css);
@import url(./css/weekdays.css);

:root {
    --main-color: #eeeeee;
    --sub-color: #f9d201;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}
