footer {
    display: flex;
    justify-content: space-between;
    width: 720px;
    height: 130px;
    margin: 0 auto;
}

.footer__leftBox {
    color: #bdbdbd;
    font-size: 14px;
}

.footer__menus {
    display: flex;
    margin-bottom: 10px;
}

.footer__menu .footer__menu_link {
    color: #bdbdbd;
    cursor: pointer;
    text-decoration: none;
}

.footer__business {
    margin-bottom: 10px;
}

.footer__business .footer__business_link {
    text-decoration: underline;
}

.footer__copyright .footer__copyright_img {
    width: 55px;
    height: 55px;
    margin-bottom: 3px;
}

.footer__copyright .footer__copyright_text {
    font-size: 12px;
    text-align: center;
    color: #a8a8a8;
}