.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding-top: 27px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #fff;
    z-index: 10;
}

.header__inner {
    width: 720px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    margin-bottom: 20px;
}

.header__logo {
    margin-right: auto;
    cursor: pointer;
}

.header__search {
    display: flex;
    position: relative;
}

.search__input {
    width: 185px;
    height: 33px;
    padding-left: 10px;
    border-radius: 30px;
    border: 1px solid #cfcfcf;
}

.search_icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    right: 10px;
}

.header__buttons {
    display: flex;
    margin-left: 20px;
}

.header__buttons .header__button { 
    margin-left: 10px;
    cursor: pointer;
    border: none;
    color: #999;
    font-size: 18px;
    background-color: transparent;
}

.header__bottom .header__ul {
    display: flex;
}

.header__menu {
    width: 100%;
    padding: 30px 0 17px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.header__link {
    width: 100%;
    position: relative;
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    font-size: 20px;
}

.header__menu .header__link_circle {
    width: 7px;
    height: 7px;
    position: absolute;
    top: -10px;
    right: -7px;
    border-radius: 50%;
    background-color: rgb(255, 210, 0);
}

.header__menu.header__menu_active {
    border-bottom: 3px solid #ffd200;
}