a {
  color: black;
  text-decoration: 0;
}

button {
  background-color: transparent;
  border: 0;
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: 0;
}

.flex-blank {
  flex-grow: 1;
}

.indent {
  padding: 0 1rem;
}

.view-more {
  color: #999999;
}

/* header */

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
}

.header__inner {
  width: 720px;
  padding: 20px 0;
}

.header__top {
  display: flex;
  padding: 0.7rem 0;
}

.header__search {
  display: flex;
  border: 0.5px rgb(230, 230, 230) solid;
  border-radius: 30px;
  width: 200px;
  justify-content: space-evenly;
  align-items: center;
}

/* .search__form {
} */

.search__input {
  border: 0;
  width: 130px;
  font-size: 1.1rem;
  padding: 5px;
}

.search__logo > img {
  width: 20px;
}

.header__button {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.header__button button {
  font-size: 1.2rem;
  color: #999999;
  padding: 0;
}

.header__gnb {
  background-color: white;
  width: 720px;
}

.gnb__ul {
  display: flex;
  align-items: center;
  text-align: center;
}

.gnb__li {
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  flex-grow: 1;
}
/* main body */

.main {
  padding-top: 162px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: rgb(230, 230, 230);
}

.main__inner {
  width: 720px;
  background-color: white;
}

.main__lnb {
  border-bottom: 10px solid rgb(230, 230, 230);
}

.lnb__ul {
  display: flex;
}

.lnb__li {
  padding: 1.5rem 1rem;
  font-size: 1.3rem;
  flex-grow: 1;
  background-color: white;
  color: #bbb;
  cursor: pointer;
}

.main__carousel {
  position: relative;
  border-bottom: #eee solid 12px;
  overflow: hidden;
}

.carousel__inner {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
}

.carousel__card {
  width: 100%;
  flex-shrink: 0;
  position: relative;
}

.carousel__img {
  width: 100%;
}

.carousel__items {
  position: absolute;
  width: 100%;
  bottom: 4rem;
  left: 1.5rem;
}

.carousel__left {
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 1rem;
  z-index: 1;
}

.carousel__right {
  cursor: pointer;
  position: absolute;
  top: 45%;
  right: 1rem;
}

.carousel__countBox {
  position: absolute;
  color: #fff;
  right: 24px;
  bottom: 4rem;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.carousel__title {
  color: white;
  font-size: 1.75rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.carousel__info {
  color: white;
}

.carousel__script {
  position: absolute;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
  padding: 0.7rem 0;
  background-color: #ffd200;
  text-align: center;
}

.main__category {
  padding: 1rem;
  border-bottom: 8px rgb(230, 230, 230) solid;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.categories > a {
  flex-grow: 1;
  box-sizing: border-box;
  width: 33%;
  padding: 1rem 1.3rem;
  background-color: rgb(230, 230, 230);
  border: white 1px solid;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.main__event {
  width: 720px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  vertical-align: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 8px rgb(230, 230, 230) solid;
}

.arrowImg {
  padding: 0 1rem;
}

.event__banner {
  padding: 1rem 0;
  width: 550px;
}

.main__top {
  width: 720px;
  box-sizing: border-box;
  background-color: white;
  padding: 2rem 1rem;
  border-bottom: #eee 12px solid;
}

.top__inner {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding-bottom: 20px;
}

.top__header {
  width: 100%;
  display: flex;
}

.top__title {
  font-size: 20px;
}

.dailyTop__number {
  font-size: 14px;
  color: #999;
}

.dailyTop__tabs {
  width: 100%;
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
}

.dailyTop__tab {
  font-size: 20px;
  padding: 1rem;
  color: #bbbbbb;
  text-align: center;
  flex-grow: 1;
  border-bottom: 3px #f1f1f1 solid;
  cursor: pointer;
}

.week-nav-click {
  font-size: 20px;
  padding: 1rem;
  color: #bbbbbb;
  text-align: center;
  flex-grow: 1;
  border-bottom: 3px #ffd200 solid;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.itemBox {
  padding: 0.5rem;
}

.item {
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  overflow: hidden;
}

.itemImg {
  width: 100%;
}

.daily__rankingBox,
.ratingBox {
  box-sizing: border-box;
  width: 100%;
  padding: 0.4rem 0.6rem;
  display: flex;
  background-color: #242526;
}

.daily__rankingBox > img {
  padding: 0 0.2rem;
}

.daily__ranking,
.rating {
  font-size: 16px;
  color: #ffd200;
}

.item__title {
  width: 120px;
  padding: 10px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item__views {
  font-size: 14px;
  color: #9c9c9c;
}

.item__views > img {
  padding-right: 4px;
}

.expectedNew__top {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 8px;
  width: 335px;
  overflow: hidden;
}

.dailyRankingTop {
  display: flex;
  flex-direction: column;
}

.dailyRankingTop__li {
  padding: 0.5rem 0;
}

.dailyRankingTop__link {
  display: flex;
  width: 100%;
  align-items: center;
}

.dailyRanking {
  font-weight: 700;
  padding: 10px;
  padding-right: 26px;
  font-size: 22px;
  width: 0.6rem;
}

.dailyRankingImgBox {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.dailyRankingImg {
  position: absolute;
}

.dailyRankingDescription {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.dailyRankingTitle {
  padding: 4px 0;
}

.dailyRankingInfo {
  font-size: 14px;
  color: #9c9c9c;
}

.recommand__event {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 1rem;
}

.by-application {
  display: flex;
  justify-content: center;
  background-color: #fecc2e;
  border-bottom: rgb(230, 230, 230) 70px solid;
}

/* footer */

.footer {
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__inner {
  color: #bdbdbd;
  display: flex;
  width: 720px;
  padding-bottom: 5rem;
}

.fnb {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.fnb__inner {
  font-size: 1rem;
  display: flex;
  padding: 0.5rem 0;
}

.fnb__inner a {
  color: #bdbdbd;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  width: 55px;
  font-size: 12px;
}

.selected-box {
  border-bottom: 3px solid #ffd200;
}

.selected-color {
  color: black;
}

.seperator {
  padding: 0 0.5rem;
}
