@import "header.css";
@import "MainBanner.css";
@import "AdBanner/AdBanner.css";
@import "reset.css";
@import "comicsGrid/comicsGrid.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body{
    background: #eee;
    text-indent: 0;
    user-select: none;
}
body>div.padding{
    position:absolute;
    top:0;
    border-top: 5px solid #0088ff;
    width: 100%;
    opacity: 0;
}
*{
    box-sizing: border-box;
    min-width: 0;
    font-family:"Noto Sans KR",sans-serif;
    line-height: 1.4;
}
