*{
    margin:0;
    padding:0;
    list-style:none;
    box-sizing: border-box;
}
a { text-decoration:none}

body{
    background:#ddd;
}

:root{
    --global-width:720px;
    --primary-color:#ffd43b;
    --background-color:#fff;
    --letter-color:#ddd;
    --global-margin:0 auto;
}

/* ===============header=============== */

.header{
    width:100%;
    height:150px;
    background:var(--background-color);
    top:0;
    z-index:20;
}

.header_topbar{
    width:var(--global-width);
    height:80px;
    margin:var(--global-margin);
    display: flex;
    justify-content: space-between;
}

.kakaologo img{
    margin-top:30px;
}

.header_nav{
    height:30px;
    display:flex;
    margin-top:30px;
}

.header_search{
    width:150px;
    right:50px;
    position:relative;
}

.header_search input{
    border:1px solid var(--letter-color);
    border-radius:20px;
    width:180px;
    height:35px;
    text-indent:10px;
}

.header_search img{
    width:20px;
    height:20px;
    position:absolute;
    top:8px;
    right:-20px;
}

.header_stage{
    margin-right:20px;
}

.stage{
    font-weight: bold;
    margin-right:15px;
    padding:8px;
    background:var(--primary-color);
}
.btn{
    font-size:18px;
    margin-top:8px;
    margin-right:15px;
}
.btn a {
    color:#999;
}
.lastbtn{
    margin-right:0px;
}

.header_category{
    width:var(--global-width);
    height:70px;
    margin:var(--global-margin);
}
.header_category ul {
    display: flex;
    justify-content: space-around;
    margin-top:30px;
    margin-bottom:10px;
    padding-bottom:20px;
}
.header_category ul li{
    padding:0px 30px 10px 30px;
}

.category_active{
    border-bottom:5px solid var(--primary-color);
}

/* ===============maincategory=============== */
.main_category{
    width:var(--global-width);
    height:70px;
    margin:10px auto;
    background:var(--background-color);
}
.main_category ul{
    display:flex;
    align-items: center;
    justify-content:space-around;
    padding-top:20px;
}

.main_category ul li{
    color:var(--letter-color);
    font-size:20px;
    /* line-height: 70px; */
    cursor:pointer;
}

.main_category ul .sub_active{
    color:#000;
    font-weight:500;
}

/* ===============slide=============== */
.slider {
    width: 720px;
    height:420px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  
.slideshow_slide {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}
  
.slideshow_slide{
    width:var(--global-width);
    height:450px;
    display:flex;
    align-items:flex-end;
}

.firstSlide{
    background-image:url(img/roadofmoney.jpg);
    background-size: cover;
}

.secondSlide{
    background-image:url(img/img-1.jpg);
    background-size: cover;
}

.thirdSlide{
    background-image:url(img/img-2.png);
    background-size: cover;
}

.slideshow_text{
    margin-bottom:35px;
    margin-left:20px;
    color:var(--background-color);
    position:absolute;
    bottom:0;
}

.slideshow_press{
    width:var(--global-width);
    margin:var(--global-margin);
    display:flex;
    justify-content:space-between;
}

.slideshow_icon{
    display:flex;
}

.slideshow_icon p{
    margin-right:10px;
}

.slideshow_numbertext{
    margin-right:40px;
    font-size:20px;
}

.slideshow_info{
    width:var(--global-width);
    height:40px;
    text-align:center;
    line-height: 40px;
    background:var(--primary-color);
}
  
.slider_btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: var(--background-color);
    color: #333;
    border-radius: 50%;
    width: 40px;
    height:40px;
    font-size: 18px;
    cursor: pointer;
}
  
.slider_btn_left {
    left: 6%;
    transform: translate(-50%, -50%);
}
  
.slider_btn_right {
    right: 6%;
    transform: translate(50%, -50%);
}

/* ===============tab=============== */
.tab{
    width:var(--global-width);
    background:var(--background-color);
    margin:var(--global-margin);
}
.underline{
    border-bottom: 1px solid var(--letter-color);
}
.all_web{
    display:flex;
    justify-content: space-between;
    line-height: 70px;
    font-size:20px;
    color:var(--letter-color);
    
}

.all_web .left{
    display: flex;
    margin-left:20px;
    cursor:pointer;
}

.all_web .left p{
    margin-right:10px;
}

.all_web_check{
    font-weight:bold;
    color:#333;
}

.right{
    margin-right:20px;
    color:#999;
    border:var(--letter-color);
    display:flex;
    cursor:pointer;
}

.right p:first-child {
    margin-right:10px;
}

.underline ul li {
    width:40px;
    height:40px;
    text-align:center;
    border-radius: 50%;
    line-height: 40px;
}

.weekend_check{
    width:40px;
    height:40px;
    background:var(--primary-color);
    text-align:center;
    border-radius: 50%;
    color:#000;
    line-height: 40px;
}

/* ===============webtoon-list=============== */
.webtoon_list ul{
    display:flex;
    flex-wrap: wrap;
    margin-top:20px;
}

.webtoon_list ul li{
    margin-left:20px;
    margin-bottom:20px;
}

.webtoon_image{
    width:120px;
    height:120px;
    background-image:url(img/pic1.png);
    background-size:contain;
    border-radius:10px 10px 0px 0px;
}
.webtoon_rank{
    width:120px;
    height:30px;
    border-radius:0px 0px 10px 10px;
    background:#000;
    display:flex;
    justify-content:space-between;
    line-height:30px;
}
.webtoon_rank span{
    margin:5px 5px 5px 5px;
    color:var(--background-color);
}

.webtoon_rank .webtoon_rank_emit{
    color:var(--primary-color);
}

.webtoon_title{
    margin-top:10px;
    margin-bottom:10px;
}
.webtoon_pop{
    display:flex;
    justify-content:flex-start;
    color:#999;
}
.read_count{
    margin-left:3px;
    font-size:14px;
    color:#999;
}
.kakao_app{
    width:var(--global-width);
    height:70px;
    background:var(--primary-color);
    margin:10px auto 0;
    text-align:center;
    line-height:70px;
    font-size:20px;
}

.footer{
    width:var(--global-width);
    margin:40px auto;
    display:flex;
    justify-content:space-between;
    color:#999;
    font-size:14px;
}

.ceo{
    margin:15px 0px 15px 0px;
}