html {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background-color: #eee;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
/* 헤더 */
.headerAndNavWrap {
  width: 100%;
  position: fixed;
  background: white;
  z-index: 10;
}
header,
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}

.headerLeft {
  width: 130px;
  height: 100%;
  display: flex;
  align-items: center;
}
.title {
  /* font-size: 2em; */
  width: 100%;
  margin: 22px 0px 22px;
}
.headerRight {
  width: 590px;
  height: 100%;
  display: flex;
  justify-content: right;
}
.searchBarWrap {
  width: 186px;
  height: 100%;
  display: flex;
  align-items: center;
}
.searchBar {
  width: 100%;
  height: 33.2px;
  border-radius: 33.2px;
  border: 1px solid #cfcfcf;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchInput {
  width: 136px;
  border: none;
}
.searchBtn {
  width: 30px;
  height: 27.2px;
  background: none;
  border: none;
}
.magnifyingGlass {
  width: 20px;
  height: 20px;
}
.headerButtonWrap {
  display: flex;
  justify-content: right;
  align-items: center;
}
.headerButtonWrap > * {
  color: #999;
  font-size: 18px;
  font-weight: bold;
}
.stage {
  margin: 0 0 0 22px;
}
.chargeCash {
  margin: 0 10px 0 22px;
}
.logIn {
  margin: 0 0 0 10px;
}
/* 네비게이션바 */
nav {
  height: 69px;
}
.navWrap {
  height: 68px;
  width: 720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  width: 720px;
  padding: 180px 0 0 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* border: 1px solid black; */
}
.section > * {
  width: 100%;
  height: 100px;
}
/* 웹툰장르바 */
.webtoonGenreBar {
  height: 67px;
  display: flex;
  background: white;
}
.webtoonGenreBar > * {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.webtoonGenreBar > * > * {
  text-decoration: none;
  font-size: 20px;
  color: #999;
  font-weight: bold;
}
.genreHome {
  width: 52.8px;
}
.homeLink {
  color: black;
}
.weekday,
.action {
  width: 108px;
}
.webtoon,
.boy,
.romanticFantasy {
  width: 72.7px;
}
.drama,
.romance {
  width: 89.6px;
}
.bl {
  width: 58px;
}
.event {
  height: 520px;
  margin: 10px 0 10px 0;
}
.eventSlide {
  height: 440px;
  width: 100%;
  background-image: url("/FE/FE01-html/images/소설 _ 회귀자의 증권사 생활 6타 _ 15-24.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 20px;
  position: static;
}
.slideMoveBtn {
  position: absolute;
  width: 680px;
  bottom: 130px;
  display: flex;
  justify-content: space-between;
}
.slideMoveBtn > * {
  color: #eee;
}
.eventSlideInfo {
  height: 75px;
}
.eventTitle {
  height: 28px;
  margin: 6px 0 0;
  font-size: 28px;
  font-weight: bold;
  color: white;
}
.eventInfoWrap {
  height: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 12px 0 0;
}
.eventLeft {
  display: flex;
  margin: 12px 0 0;
}
.eventLeft > * {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.eventStatusWrap {
  display: flex;
  align-items: center;
}
.eventStatus {
  width: 52.8px;
  height: 22px;
  background-size: cover;
  margin: 0 10px 0 0;
}
.clock {
  color: white;
  margin: 0 4px 0 0;
}
.eventGenreInfo {
  margin: 0 1px 0 0;
}
.eventSlash {
  margin: 0 8px;
}
.readCountEvent {
  margin: 1px 0 0;
}
.eventFollow {
  margin: 0 0 1px 4px;
}
.eventRight {
  display: flex;
}
.eventRight > * {
  font-size: 20px;
  color: white;
  font-weight: bold;
  opacity: 0.6;
}
.imgCopyWrap {
  height: 40px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd200;
}
.imgCopy {
  font-size: 18px;
}
.eventButtons {
  height: 161px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 11px 0 0;
  box-sizing: border-box;
  padding: 20px;
}
.eventButtons > * {
  width: 220px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid white;
}

.todayUp {
  border-radius: 10px 0 0 0;
}
.countNew {
  min-width: 24px;
  height: 24px;
  border-radius: 33px;
  background-color: #ffd200;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 10px;
}
/* .todayNew {
  margin: 0 2px 0 2px;
} */
/* .original {
  border-radius: 0 10px 0 0;
} */
.waitForFreeWebtoon {
  height: 534px;
  margin: 10px 0 10px 0;
  background-color: white;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
}
.contentTop {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.copyAndCount {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.sectionTitle {
  font-size: 20px;
  margin: 0 5px 0 0;
}
.sectionCount {
  font-size: 14px;
  color: #999;
}
.moreLink {
  text-decoration: none;
  color: #999;
  font-weight: bold;
}
.waitForFreeWebtoonCopy {
  font-size: 20px;
  height: 28px;
  line-height: 28px;
}

.content {
  display: flex;
  margin: 20px 0 20px 0;
}
.contentImageWrap {
  width: 142px;
  height: 96px;
  position: relative;
  display: flex;
}
.contentImage {
  width: 142px;
  height: 96px;
  background-size: cover;
  border-radius: 6px;
}
.contentImageStatus {
  position: absolute;
  z-index: 1;
  border-radius: 6px 0 0 0;
}
.waitFreeImageStatus {
  width: 26px;
  height: 26px;
}
.contentDetailWrap {
  width: 540px;
  height: 96px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.status {
  display: flex;
  align-items: center;
}
.statusIcon {
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
}
.contantTitle {
  font-size: 16px;
  font-weight: bold;
}
.synopsis {
  font-size: 14px;
  color: #999;
  font-weight: bold;
}
.followAndCreator {
  display: flex;
  font-size: 14px;
  color: #999;
  font-weight: bold;
  align-items: center;
}
.readCount {
  width: 11px;
  height: 11px;
  margin: 0 3px 0 0;
}
.contentSlash {
  margin: 0 3px 0 3px;
}
.hotWebtoon {
  box-sizing: border-box;
  height: 534px;
  padding: 0 20px 20px 20px;
  background: white;
}
.webtoonStatus {
  width: 40px;
  height: 26px;
}
