
body * {
    border: black solid 1px;
}

header {
    display: flex;
    flex-flow: column;
    flex-basis: auto;
    align-items: center;
    background-color: white;
}

.head {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 60%;
}

.head__item {
    display: flex;
    flex-flow: row;
}

.head__item input {
    width: 100px
}

.head__item ul {
    display: flex;
    flex-flow: row;
}

.head__item li {
    list-style: none;
    width: 80px
}

.navigation {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 60%;
}

.navigation ul {
    display: flex;
    flex-flow: row;
    flex-basis: 100%;
    justify-content: space-evenly;
    list-style: none;
}

main {
    display: flex;
    flex-flow: column;
    flex-basis: auto;
    align-items: center;
    background-color: gainsboro;
}

.main__navigation {
    background-color: white;
    width: 60%;
}

.main__navigation ul {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    list-style: none;
}


