html {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
.header,
nav {
  width: 100%;
  border: 1px solid black;
  height: 80px;
}
.header {
  display: flex;
  justify-content: center;
  border: none;
}
.headerLeft {
  width: 130px;
  height: 100%;
  display: flex;
  align-items: center;
}
.title {
  /* font-size: 2em; */
  width: 100%;
  margin: 22px 0px 22px;
}
.headerRight {
  width: 590px;
  height: 100%;
  display: flex;
  justify-content: right;
}
.searchBarWrap {
  width: 186px;
  height: 100%;
  display: flex;
  align-items: center;
}
.searchBar {
  width: 100%;
  height: 33.2px;
  border-radius: 33.2px;
  border: 1px solid #cfcfcf;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchInput {
  width: 136px;
  border: none;
}
.searchBtn {
  width: 30px;
  height: 27.2px;
  background: none;
  border: none;
}
.magnifyingGlass {
  width: 20px;
  height: 20px;
}
.headerButtonWrap {
  display: flex;
  justify-content: right;
  align-items: center;
}
.headerButtonWrap > * {
  color: #999;
  font-size: 18px;
  font-weight: bold;
}
.stage {
  margin: 0 0 0 22px;
}
.chargeCash {
  margin: 0 10px 0 22px;
}
.logIn {
  margin: 0 0 0 10px;
}
.section {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* border: 1px solid black; */
}
.section > * {
  width: 100%;
  border: 1px solid black;
  padding: 20px;
  height: 100px;
}
