.main {
    margin-bottom: 60px;
}

.main__inner {
    width: 720px;
    margin: 0 auto;
}

.main__nav {
    background-color: #fff;
    margin-bottom: 10px;
}

.main__nav-ul {
    display: flex;
    align-items: center;
    height: 70px;
}

.main__nav-ul .main__nav_genre,
.main__nav-ul .main__nav_day {
    flex-grow: 1;
    padding: 0 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.main__nav-ul .main__nav_link {
    cursor: pointer;
}

.main__nav_link_active {
    color: rgb(51, 51, 51);
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 70px;
    background-color: #fff;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.filter__left {
    display: flex;
    align-items: center;
}

.filter__separator {
    width: 1px;
    height: 12px;
    margin: 0 5px;
    background-color: #d9d9d9;
}

.filter .filter_button {
    background-color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.filter .filter__right {
    display: flex;
    cursor: pointer;
}

.filter .filter_genre_finds {
    font-size: 18px;
    color: #999999;
    margin-right: 10px;
}

.filter .filter__left_img {
    margin-right: 5px;  
}

.main__content {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin-bottom: 10px;
}

.content__link {
    margin: 20px 12px;
}

.content__title {
    margin: 10px 0;
    color: #333333;
    font-size: 16px;
}

.content__item {
    width: 120px;
    border-radius: 8px;
    overflow: hidden;
}

.item__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background-color: #242526;
    padding: 0 8px;
} 

.item__inner .item__inner_rank {
    color: #ffd200;
}

.item__inner_wait_img {
    width: 16px;
    height: 16px;
}

.content__item_img {
    width: 120px;
    height: 120px;
    margin: 0;
    vertical-align: top;
}

.content__detail .content__detail_img {
    height: 13px;
}

.content__detail .content__detail_text {
    color: #9c9c9c;
    font-size: 14px;
}

.main__app {
    width: 720px;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #fecc2c;
}

.main__app .main__app_button {
    width: 500px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.not_selected {
    color: #bbbbbb;
}