* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9ecef;
}

/*========== 일반 ==========*/
.center {
  width: 800px;
  margin: 0 auto;
}

.list-style--none {
  list-style: none;
}

.nav-item-sort {
  display: flex;
  justify-content: space-around;
}

.header-container {
  display: flex;
  align-items: center;
}

.margin-right--auto {
  margin-right: auto;
}

.container {
  background-color: #fff;
  margin-bottom: 15px;
}

.button-style--none {
  border: none;
}

a {
  text-decoration: none;
}

.grid-2row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
}

/*========== main header ==========*/
.main-header {
  background-color: #fff;
}

/*========== category button  ==========*/
.category-buttons-container {
  padding: 20px;
}

.category-button {
  background-color: #f1f3f5;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 16px;
  font-weight: 600;
}

.left-top {
  border-top-left-radius: 10px;
}

.right-top {
  border-top-right-radius: 10px;
}

.left-bottom {
  border-bottom-left-radius: 10px;
}

.right-bottom {
  border-bottom-right-radius: 10px;
}

/*========== footer ==========*/
.footer-sort {
  display: flex;
  align-items: center;
}

.footer-item {
  margin-right: 8px;
}
