:root {
    --bg-color: rgb(238, 238, 238);
    --font-color-gray: rgb(156, 154, 154);
    --stage-yellow: rgb(251, 188, 23);
    --kakao-yellow: rgb(242,208,49);
    --content-wrap-black: rgb(24,25,27);
}

body{
    font-size: 16px;
    margin: 0;
    padding: 0;

    overflow-y: auto;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
}

/* 헤더 영역 */
header {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 5rem;
    background-color: white;

    display: flex;
}

.header-area {
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 45rem;

    display: flex;
}

.logo {
    flex: 1;
}

.header-group {
    display: flex;
    flex: 1;
}

.header-input {
    display: block;
    width: 11.25rem;
    line-height: 1.75rem;;
    border: 1px solid lightgray;
    border-radius: 1.89rem;

    margin-top: 1.56rem;
}

.header-buttons {
    display: block;
    margin: 1.4rem 0.3rem;
}

#stage {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    padding: 0.3rem;
    color: black;
    font-size: 1rem;
    background-color: var(--stage-yellow);
}

.header-button {
    border: none;
    background-color: transparent;
    padding: 0.3rem 0.2rem;
    color: var(--font-color-gray);
    font-size: 1.1rem;
    font-weight: bold;
}

/* 바디 영역 */
.wrapper {
    width: 100vw;
    min-height: 100vh;

    overflow: hidden;
    background-color: var(--bg-color);
}

.main-wrap {
    width: 100vw;
    height: 100%;
    margin-top: 10.3rem;
}

.head-nav {
    position: fixed;
    z-index: 99;
    top: 5rem;
    width: 100vw;
    height: 4.38rem;

    background-color: white;

    border-bottom: 1px solid lightgray;
}

.head-nav-ul {
    margin: 0 auto;
    padding: 0;

    width: 45rem;

    display: flex;
}

.head-nav-li {
    list-style: none;
    flex-grow: 1;

    font-size: 1.2rem;
    font-weight: bold;

    padding: 1.25rem 0 0.62rem 0;
    text-align: center;

    cursor: pointer;
}

.head-nav-li.selected {
    padding-bottom: 1.3rem;
    border-bottom: 0.2rem solid var(--kakao-yellow);
}

.genre-nav {
    width: 100vw;
    height: 4.38rem;
}

.genre-nav-ul {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;

    width: 45rem;
    height: 4.38rem;

    display: flex;

    background-color: white;
    cursor: pointer;
}

.genre-item {
    list-style: none;
    flex-grow: 1;

    font-size: 1.2rem;
    font-weight: bold;
    color: var(--font-color-gray);

    padding: 1.25rem 0;
    text-align: center;
}

.contents {
    width: 45rem;
    margin: 0.63rem auto;
}

.slider {
    width: 45rem;
    height: 30rem;
    overflow: hidden;
    position: relative;
}

.slider.ad {
    height: 8.75rem;
    background-color: white;
    margin-top: 0.63rem;
}

.banner-main-btn, .banner-ad-btn {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 46%;
    cursor: pointer;
    z-index: 10;
}

.banner-ad-btn {
    top: 35%;
}

.banner-main-btn.left, .banner-ad-btn.left {
    left: 0;
    margin-left: 1.5rem;
}

.banner-main-btn.right, .banner-ad-btn.right {
    right: 0;
    margin-right: 1.5rem;
}

.banner-main {
    height: 30rem;
    background-color: gray;

    /* transition: ease-in-out 1s; */
    
}

.img-with-line {
    position: relative;
    float: left;
    width: 45rem;
}

.line-with {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    background-color: var(--kakao-yellow);

    top: 27.5rem;
    text-align: center;
    line-height: 2.5rem;

    font-size: 1.1rem;
    font-weight: bold; 
    color: var(--content-wrap-black); 
}

.summary {
    padding: 0.94rem 0;
    margin-top: 0.63rem;

    background-color: white;

    display: flex; 
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; 
}

.summary-btn {
    background-color: var(--bg-color);
    border: none;

    width: 13.75rem;
    height: 3.75rem;

    font-size: 1.1rem;
    font-weight: bold;
    margin: 2px;
}

.banner-ad {
    height: 6.25rem;
    overflow: hidden;
    position: absolute;
    left: 4rem;
    top: 1.2rem;
}

.banner-ad-img-wrap {
    width: 34.38rem;
    height: 6.25rem;
    float: left;

    margin: 0 1.25rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.menu-form {
    margin-top: 0.63rem;
    background-color: white;

    padding: 1.25rem;
}

.menu-form-title {
    display: flex;
    margin-bottom: 1.25rem;
}

.title-name {
    flex: 1;

    font-size: 1.2rem;
    font-weight: bold;
}

.title-more {
    color:var(--font-color-gray);
}

.nav-day{
    padding-top: 0.63rem ;
    padding-left: 0;
    border-bottom: 1px solid var(--bg-color);
    display: flex;

    cursor: pointer;
}

.day {
    flex-grow:1;
    padding-bottom: 0.63rem;

    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: lightgray;
    text-align: center;
}

.day.selected {
    border-bottom: 3px solid var(--kakao-yellow);
}

.category-nav{
    padding: 0.31rem 0.31rem 0.94rem 0.31rem;
    margin-bottom: 0.94rem;
    border-bottom: 1px solid var(--bg-color);
    display: flex;
    justify-content: flex-start;

    font-size: 1.05rem;
    color: lightgray;
    font-weight: bold;
}

.category-nav-items {
    flex:1;
    display: flex;
}

.category-nav-items > div {
    margin-right: 0.63rem;
}

.category-nav-sum {
    font-size: 0.9rem;
    font-weight: bold;
}

.contents-box {
    width: 42.5rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-wrap {
    width: 7.5rem;
    height: 13.13rem;

    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.content-wrap-img-wrap {
    width: 100%;
    height: 9.38rem;

    border-radius: 0.31rem;
    overflow: hidden;
}

.content-wrap-img {
    display: block;
    height: 7.5rem;
}

.content-wrap-img-info {
    height: 1.88rem;
    margin-top: 0;
    padding: 0 0.63rem;
    background-color: var(--content-wrap-black);

    display: flex;
    align-items: center;
}

.content-score {
    flex: 1;
    color: var(--kakao-yellow);
    font-weight: bold;
}

.content-name{
    font-weight: bold;
    color:var(--content-wrap-black);

    margin-top: 0.63rem;
    margin-bottom: 0.31rem;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content-status{
    font-size: 0.9rem;
    color: var(--font-color-gray);

    display: flex;
}

.img-with-line-wrap{
    box-sizing: border-box;
    width: 20.94rem;
    height: 13.94rem;

    border-radius: 0.31rem;
    overflow: hidden;
}

.img-with-line-wrap > .img-with-line{
    width: 100%;
    height: 100%;
}

#line-with-small {
    width: 100%;
    top: 12.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
}

.menu-form-ranking {
    width: 45rem;

    display: flex;
    flex-direction: column;
}

.ranking-content {
    flex: 1;
    width: 100%;
    padding-top: 1.25rem;
    display: flex;

    align-items: center;
}

.ranking-num {
    font-size: 1.5rem;
    font-weight: bold;

    margin-right: 1.25rem;
}

.ranking-img-wrap {
    width: 5.31rem;
    height: 7.19rem;

    margin-right: 1.25rem;

    border-radius: 0.31rem;
    overflow: hidden;
}

.ranking-desc-title {
    font-weight: bold;
}

.ranking-desc-info {
    margin-top: 10px;

    display: flex;
}

.img-view {
    width: 0.63rem;
    height: 0.69rem;

    padding-top: 0.25rem;
    margin-right: 0.31rem;
}

.desc {
    font-size: 0.85rem;
    color: var(--font-color-gray);
    font-weight: bold;
}

.division {
    box-sizing: border-box;
    width: 1px;
    height: 0.69rem;
    margin: 0.31rem 0.31rem 0 0.31rem;
    background-color: var(--bg-color);
}

.ranking-desc-day {
    margin-top: 1.25rem;

    font-size: 0.8rem;
    color: var(--font-color-gray);
}

.banner-sub-wrap {
    width: 42.5rem;
    height: 21.25rem;

    border-radius: 0.31rem;
    overflow: hidden;
}

.horizontal-img-wrap {
    width: 8.88rem;
    height: 6rem;

    border-radius: 0.31rem;
    overflow: hidden;

    margin-right: 1.88rem;
}

.contents-box-bigger {
    height: 17.5rem;

    display: flex;
    justify-content: space-between;
}

.content-wrap-bigger {
    width: 9.69rem;
    height: 17.5rem;

    display: flex;
    flex-direction: column;
}

.content-vertical-img-wrap {
    width: 9.69rem;
    height: 13.88rem;

    border-radius: 0.31rem;
    overflow: hidden;
}

.selected {
    color: black;
}
/*  */

/* fotter 영역 */
footer {
    width: 100vw;
    height: 16.25rem;

    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.toApp {
    width: 45rem;
    height: 4.38rem;
    line-height: 4.38rem;
    background-color: var(--kakao-yellow);
    
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

.footer-fitst-line {
    display: flex;

    width: 45rem;
    height: 1.25;

    padding-top: 3.75rem;
}

.footer-second-line {
    width: 45rem;
    height: 1.25rem;
    margin-top: 0.38rem;
    margin-bottom: 0.94rem;

    display: flex;
}

details {
    font-size: 0.85rem;
    color: var(--font-color-gray);
    font-weight: bold;

    display: flex;
    flex-direction: column;
}

.details-line {
    display: flex;
}
/*  */