/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	width: 750px;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: inherit;
}
.header {
	display: flex;
	height: 80px;
	justify-content: space-around;
	align-items: center;
}
.title > h1 {
	font-size: 30px;
	margin-right: 100px;
}
.search-form {
	display: flex;
	width: 185px;
	height: 35px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	justify-content: center;
	align-items: center;
}
.search-form > .search-form--input {
	font-size: 20px;
	width: 135px;
	height: 20px;
	border: none;
}
.search-form > .search-form--input:focus {
	outline: none;
}
.search-form > .search-form--button {
	color: rgba(0, 0, 0, 0.6);
	background-color: white;
	border: none;
}
.login-box {
	display: flex;
	justify-content: space-between;
}
.stage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 35px;
	margin-right: 10px;
}
.stage > .stage-icon {
	height: 25px;
	margin-bottom: 10px;
}
.login-box > .login-form {
	display: flex;
	align-items: center;
}
.login-box > .login-form > .login-form--button {
	border: none;
	background-color: white;
	font-size: 18px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
}
.nav__genre {
	display: flex;
	margin-top: 25px;
	width: 750px;
	justify-content: space-around;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.nav__genre > .nav__genre--button {
	display: flex;
	justify-content: center;
	width: 100px;
	font-size : 18px;
	padding-bottom: 10px;
	font-weight: bold;
	border: none;
	background-color: white;
}
.nav__genre > .now {
	border-bottom: 3px solid #FCBC19;
}
.new-alarm {
	width: 7px;
	height: 7px;
	background-color: #FCBC19;
	border-radius: 100%;
}
.slide {
	display: flex;
	margin-top : 10px;
	width: 720px;
	height: 480px;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url("comic.png");
	background-size: contain;
}
.slide > .slide--title {
	margin: 0 20px 0;
	color: white;
	font-size: 25px;
	font-weight: bold;
}
.slide > .slide--info {
	margin: 0 20px 0;
	display: flex;
	align-items: center;
	height: 55px;
}
.slide > .slide--info > .info-event {
	display: flex;
	width: 55px;
	height: 20px;
	border: 2px solid #FCBC19;
	border-radius: 7px;
	font-weight: bold;
	color: #FCBC19;
	margin-right: 10px;
	background-color: black;
	justify-content: center;
	align-items: center;
}
.slide > .slide--info > .info-genre {
	color: white;
	font-weight: bold;
}
.slide > .slide--info > .slide-index {
	text-align-last: right;
}
.slide > .slide--event {
	display: flex;
	height: 40px;
	background-color: #FCBC19;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}
.main-event--form {
	display: flex;
	margin-top : 10px;
	width: 720px;
	height: 100px;
	justify-content: space-around;
}
.main-event--form > .main-event--button {
	border : none;
	width: 220px;
	height: 65px;
	font-size: 18px;
	font-weight: bold;
}