@import url('./css/var.css');
@import url('./css/reset.css');
@import url('./css/header/header.css');
@import url('./css/header/category.css');
@import url('./css/pageMain/main.css');
@import url('./css/pageMain/category.css');
@import url('./css/pageMain/preview.css');
@import url('./css/pageMain/webtoonFilter.css');
@import url('./css/pageMain/webtoonComponent.css');
@import url('./css/pageMain/banner.css');
@import url('./css/pageMain/taglist.css');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR';
}

body {
  background-color: #eee;
  /* height: 200vh; */
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
}

li {
  color: #bbb;
}

.padding-sides {
  padding-left: 20px;
  padding-right: 20px;
}

.display-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
  position: absolute;
}

.color-gray {
  color: #bbb;
}

.color-black {
  color: #000;
}

.flex {
  display: flex;
}

.big-font {
  font-size: 20px;
}

.small-font {
  font-size: 14px;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

/* Loading Spinner */

.lds-ring {
  display: inline-block;
  position: relative;
  left: -20px;
  top: -20px;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 8px;
  border: 10px solid var(--yellow);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--yellow) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner-wrapper {
  width: 720px;
  padding: 40px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
