.gnb {
  position: fixed;
  top: 81px;
  left: 0;
  right: 0;
  z-index: 1010;
  padding: 24px 0 12px;
  border-bottom: 1px solid $gray-3;
  background: $gray-0;

  &__inner {
    margin: 0 auto;
    width: 720px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    padding: 0 38px;
    font-size: 1.25rem;
    cursor: pointer;

    img {
      width: 18px;
      margin: -2px 0 0;
    }

    &--active {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -12px;
        height: 3px;
        background: $yellow;
      }
    }

    &--dot {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: -4px;
        right: 25%;
        width: 6px;
        height: 6px;
        border-radius: 10px;
        background: $yellow;
      }
    }
  }
}
