.main-banner {
  width: 720px;
  height: 480px;
  overflow: hidden;
  position: relative;
  background: $gray-4;

  &__list {
    display: flex;
    transition: 0.3s ease-out;
  }

  &__item {
    width: 720px;
    height: 480px;
    position: relative;
  }

  &__desc {
    position: absolute;
    left: 20px;
    bottom: 60px;
    width: 400px;
  }

  &__title {
    color: $gray-0;
    font-size: 1.75rem;
    font-weight: 600;
  }

  &__tags {
    color: $gray-0;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__badge--tag {
    max-width: 55px;
    height: 22px;
  }

  &__badge--wait {
    width: 18px;
    height: 20px;
  }

  &__badge--person {
    width: 16px;
    height: 20px;
  }

  &__tag-divider {
    width: 2px;
    height: 15px;
    background: $gray-4;
  }

  &__caption {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 40px;
    line-height: 42px;
    text-align: center;
    font-size: 1.125rem;
    background: $yellow;
  }

  &__btn {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    overflow: hidden;
  }

  &__btn-prev {
    left: 20px;
  }

  &__btn-next {
    right: 20px;
  }

  &__orderinfo {
    position: absolute;
    right: 24px;
    bottom: 48px;
    color: $gray-4;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
