.snb {
  margin: 20px 0 0;
  background: $gray-0;

  &__list {
    padding: 20px 0 16px;
    display: flex;
    justify-content: space-evenly;
  }

  &__item {
    font-size: 1.25rem;
    color: $gray-5;
    cursor: pointer;
  }
}
