.recommand {
  margin-top: 115px; /* header을 position fixed로 바꾼후 이부분을 하드 코딩했다. 어떻게 해결할 수 있을까? 옐로우 조언: :after사용해보기*/
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  overflow: hidden;
}

.recommand__nav {
  background-color: white;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: var(--contents-width);
  font-size: var(--nav-fontSize);
}

.recommand__nav--ul {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.recommand__image--container {
  position: relative;
  width: var(--contents-width);
  height: auto;
}

.recommand__image {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--contents-width);
  margin-top: 5px;
}
.rec--cartoonImg {
  width: var(--contents-width);
  height: 500px;
  object-fit: fill;
}

.recommand__image--wrapper {
  display: flex;
  justify-content: flex-start;
  width: var(--contents-width);
  /* transition: 0.5s; */
}

.recommand__image--img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.recommand__image--pageCount {
  position: absolute;
  color: white;
  font-size: 30px;
  opacity: 0.8;
  font-weight: bolder;
  padding: 10px;
  bottom: 8%;
  left: 85%;
}

.recommand__image--controller {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: inherit;
  bottom: 50%;
}
/* 이부분 왜 포지션 앱솔루트가 안되는걸까? */
.recommand__image--controller span {
  background-color: white;
  margin: 0px 20px;
  opacity: 0.2;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.recommand__image--controller span:hover {
  opacity: 0.5;
}

.recommand__description {
  background-color: #f1c73d;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: var(--contents-width); /*다이러는거 싫은데... */
}
