@import url("reset.css");
@import url("header.css");
@import url("genre-nav.css");
@import url("carousel.css");
@import url("main.css");
@import url("list.css");
@import url("footer.css");

body {
	background-color: rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	padding-top: 160px;
	width: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}