.banner {
  --slide-main-color: #fff;
  --slide-second-color: #222;
}

.banner-title {
  font-size: var(--font-28px);
  font-weight: var(--font-bold);
  color: var(--slide-main-color);
}

.banner-info {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.banner-sub-text {
  display: flex;
  align-items: center;
  left: 20px;
}

.banner-number {
  opacity: 0.6;
  margin-right: 20px;
}

.banner-sub-text, .banner-number {
  margin-top: 10px;
  color: var(--slide-main-color);
  font-size: var(--font-20px);
}

.banner .bar {
  display: block;
  min-width: 1px;
  width: 1px;
  margin: 0 8px;
  height: 16px;
  background-color: var(--slide-main-color);
}

.banner-comment {
  padding: 15px;
  background-color: var(--identity-color);
  color: var(--slide-second-color);
  font-size: var(--font-18px);
  font-weight: var(--font-thin);
}

.banner-controller {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0;
  top: 45%;
  width: 100%;
}
