.nav {
  --nav-text-base-color: #bbb;
  --nav-text-selected-color: var(--main-text-color);
}

.sub-category {
  margin-top: 15px;
  padding: 15px;
  font-size: var(--font-20px);
  border-bottom: 1px solid var(--border-color)
}

.sub-category-link {
  color: var(--nav-text-base-color);
}
