.dowTop,
.dramaTop,
.dailyTop {
  margin-top: 10px;
  background-color: white;
}

.dowTop__header,
.dramaTop__header,
.dailyTop__header {
  display: flex;
  justify-content: space-between;
}

.dowTop__webtoon,
.dramaTop__webtoon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
  margin: 0px 30px;
}

.dowTop__webtoon_info,
.dramaTop__webtoon_info {
  position: relative;
  margin: 0;
}

.dowTop__webtoon_info {
  position: relative;
  margin-bottom: 6px;
}

.dowTop__webtoon_info > img,
.dramaTop__webtoon_info > img {
  width: 120px;
  height: 150px;
  border-radius: 10px;
}

.dowTop__webtoon_info > p,
.dramaTop__webtoon_info > p {
  position: absolute;
  color: #ffd200;
  bottom: 9px;
  left: 10px;
  z-index: 1;
}

.dowTop__title,
.dramaTop__title,
.dailyTop__title {
  display: flex;
  margin: 30px;
}

.dowTop__title > h3,
.dramaTop__title > h3,
.dailyTop__title > h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.dowTop__title > h5 {
  font-size: 15px;
  font-weight: 500;
  margin-top: 3px;
  color: #999999;
}

.dowTop__more,
.dramaTop__more,
.dailyTop__more {
  font-size: 18px;
  color: #999999;
  margin: 30px;
  margin-right: 10px;
}

.dowTop__webtoon_title,
.dramaTop__webtoon_title {
  margin-top: 2px;
  font-size: 18px;
}

.webtoon_bar__up {
  width: 21px;
  height: 16px;
}

.dowTop__webtoon_user,
.dramaTop__webtoon_user {
  color: #9c9c9c;
  margin-top: 6px;
}

.dowTop__webtoon_card {
  margin: 15px 0px;
}

.dowTop > nav > ul {
  padding: 0px 30px;
}

.dailyTop__rank {
  padding: 20px;
  display: flex;
  align-items: center;
}

.dailyTop__webtoon_img {
  width: 80px;
  height: 110px;
  border-radius: 10px;
  margin-right: 25px;
  margin-left: 10px;
}

.dailyTop___webtoon_card {
  display: flex;
  position: relative;
}

.dailyTop__webtoon_card__clockBar {
  position: absolute;
  width: 25px;
  left: 10px;
  border-radius: 5px 0px 0px 0px;
}

.dailyTop__webtoon_user,
.dailyTop__webtoon_serialize {
  color: #9c9c9c;
  font-size: 14px;
}

.dailyTop__webtoon_user {
  margin-top: 15px;
}

.dailyTop__webtoon_user .person_icon {
  width: 10px;
}

.dailyTop__webtoon_serialize {
  margin-top: 30px;
}
