
<main>
  <div class="navbar-second">
    <ul class="navbar-second-2">
      <li class="navbar-second-content-2"><a class="home" href="#">홈</a></li>
      <li class="navbar-second-content-2"><a class="dayWebtoon" href="#">요일연재</a></li>
      <li class="navbar-second-content-2"><a class="webtoon" href="#">웹툰</a></li>
      <li class="navbar-second-content-2"><a class="boy" href="#">소년</a></li>
      <li class="navbar-second-content-2"><a class="drama" href="#">드라마</a></li>
      <li class="navbar-second-content-2"><a class="romance" href="#">로맨스</a></li>
      <li class="navbar-second-content-2"><a class="roFan" href="#">로판</a></li>
      <li class="navbar-second-content-2"><a class="action" href="#">액션무협</a></li>
      <li class="navbar-second-content-2"><a class="BL" href="#">BL</a></li>
    </ul>
  </div>
  
  <div class="slidebox">

  </div>
  
  <div class="main__menu">
      <div class="menu flex__center">
        <a href="#" class="menu-content flex__center">
          <div class="menu-content__text">오늘 UP</div>
          <div class="menu-content_num">231</div>
        </a>
        <a href="#" class="menu-content flex__center">
          <div class="menu-content__text">오늘 신작</div>
          <div class="menu-content_num">1</div>
        </a>
        <a href="#" class="menu-content flex__center">
          <div class="menu-content__text">오리지널</div>
          <div class="menu-content_num">2,337</div>
        </a>
        <a href="#" class="menu-content flex__center">
          <div class="menu-content__text">완결까지 정주행</div>
        </a>
        <a href="#" class="menu-content flex__center">
          <div class="menu-content__text">독립운동가 웹툰</div>
        </a>
        <a href="#" class="menu-content flex__center">
          <div class="menu-content__text">오늘 랭킹</div>
          <div class="menu-content_num">1위</div>
        </a>
      </div>



  </div>
  <div class="navbar-second navbar-week">
    <ul class="navbar-second-1">
      <li class="navbar-second-content"><div class="mon">월</div></li>
      <li class="navbar-second-content"><div class="tue">화</div></li>
      <li class="navbar-second-content"><div class="wed">수</div></li>
      <li class="navbar-second-content"><div class="thu">목</div></li>
      <li class="navbar-second-content"><div class="fri">금</div></li>
      <li class="navbar-second-content"><div class="sat">토</div></li>
      <li class="navbar-second-content"><div class="sun">일</div></li>
      <li class="navbar-second-content"><div class="end">완결</div></li>
    </ul>
  </div>
  <div class="navbar-webtoon">
    <ul class="navbar-webtoon-1">
      <li class="navbar-webtoon-menu">
        <div>전체</div>
        <div class="middle-bar"></div>
      </li>
      <li class="navbar-webtoon-menu">
        <div>웹툰</div>
        <div class="middle-bar"></div>
      </li>
      <li class="navbar-webtoon-menu">
        <img src="https://static-page.kakao.com/static/common/ico_wait-off.svg?cb16228c070950e8b1bb33d712ac8b7a" class="navbar-webtoon-menu-img">
        <a>웹툰</a>
      </li>
    </ul>
    <div class="navbar-webtoon-total-menu">
      <div class="navbar-webtoon-total-menu-1">
        전체 
        (167)&nbsp;
      </div>
      <div class="navbar-webtoon-total-menu-img">
        <img src="https://static-page.kakao.com/static/common/ico_sorting_arrow.svg?167b1295f93ba9f9d84cac7a5b830345">
      </div>
    </div>
  </div>
  <div class="webtoon-list">   <!--틀만 짜놓고 데이터 받아와서 채워넣어야함-->
    <div class="webtoon-list-1">
    </div>
  </div>
</main>

