<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/04832fad24.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../styles/styles.css" />
    <title>홈 - 웹툰 | 카카오페이지</title>
  </head>
  <body>
    <header class="header">
      <div class="header__title">
        <div class="header__title-logo">
          <h2 class="logo">kakaopage</h2>
        </div>
        <div class="header__title-search">
          <input type="text" />
          <i class="fas fa-search"></i>
        </div>
        <div class="header__title-menus">
          <div class="title-menus stage">
            <span class="stage-span">STAGE</span>
            <span class="stage-arrow"></span>
            <span class="stage-popup">새로운 작가를 만나는곳</span>
          </div>
          <span class="title-menus menu">캐시충전</span>
          <span class="span-bar">|</span>
          <span class="title-menus menu">로그인</span>
        </div>
      </div>
      <ul class="header__nav">
        <li class="header__nav-item">홈</li>
        <li class="header__nav-item">
          <span>웹툰 ・ <i class="fas fa-clock"></i> </span>
        </li>
        <li class="header__nav-item">
          <span>웹소설 ・ <i class="fas fa-clock"></i></span>
        </li>
        <li class="header__nav-item">영화</li>
        <li class="header__nav-item">방송</li>
        <li class="header__nav-item">책</li>
      </ul>
    </header>
    <div class="main">
      <ul class="mainBox main__nav-genre">
        <li class="nav-genre-item">홈</li>
        <li class="nav-genre-item">요일연재</li>
        <li class="nav-genre-item">웹툰</li>
        <li class="nav-genre-item">소년</li>
        <li class="nav-genre-item">드라마</li>
        <li class="nav-genre-item">로맨스</li>
        <li class="nav-genre-item">로판</li>
        <li class="nav-genre-item">액션무협</li>
        <li class="nav-genre-item">BL</li>
      </ul>
      <div class="mainBox main__main-banner">배애너어</div>
      <div class="mainBox main__nav-detail"></div>
      <div class="mainBox main__sub-banner"></div>
      <div class="mainBox main__contents">
        <div class="contents__header">
          <div class="contents__title">
            <span>요일 연재 TOP</span>
            <span>(1,618)</span>
          </div>
          <div class="contents__more">
            <span>더보기></span>
          </div>
        </div>
        <div class="contents__body">
          <ul class="contents__body-nav">
            <li>월</li>
            <li>화</li>
            <li>수</li>
            <li>목</li>
            <li>금</li>
            <li>토</li>
            <li>일</li>
            <li>완결</li>
          </ul>
          <ul class="contents-card">
            <li class="card">1</li>
            <li class="card">2</li>
            <li class="card">3</li>
            <li class="card">4</li>
            <li class="card">5</li>
            <li class="card">6</li>
            <li class="card">7</li>
            <li class="card">8</li>
            <li class="card">9</li>
            <li class="card">10</li>
          </ul>
        </div>
      </div>
      <div class="mainBox main__contents">
        <div class="contents__header">
          <div class="contents__title">
            <span>기대 신작 TOP</span>
          </div>
          <div class="contents__more">
            <span>더보기 ></span>
          </div>
        </div>
        <div class="contents__body">
          <ul class="contents-bigCard">
            <li class="bigCard">1</li>
            <li class="bigCard">2</li>
          </ul>
        </div>
      </div>
      <div class="main__button">
        <button>
          <span><b>카카오페이지</b> 앱으로 보기 ></span>
        </button>
      </div>
    </div>
    <footer>
      <div class="footer-left">
        <div class="footer-box">
          <span>회사소개</span>
          <span class="span-dot"> ・ </span>
          <span>이용약관</span>
          <span class="span-dot"> ・ </span>
          <span>개인정보처리방침</span>
          <span class="span-dot"> ・ </span>
          <span>청소년보호정책</span>
          <span class="span-dot"> ・ </span>
          <span>공지사항</span>
        </div>
        <div class="footer-box">
          <details>
            <summary>(주)카카오엔터테인먼트 사업자 정보</summary>
            <ul>
              <li>
                <span>대표자:이진수, 김성수 </span>
                <span class="span-bar">|</span>
                <span>호스팅서비스사업자: (주)카카오엔터테인먼트</span>
              </li>
              <li>
                <span>사업자 등록번호: 220-88-02594 </span>
                <span class="span-bar">|</span>
                <span> 통신판매업신고: 2018-성남분당B-0004</span>
              </li>
              <li>
                <span>대표전화 : 1644-4755</span>
                <span class="span-bar"> | </span>
                <span>이메일:contact@kakaopage.com</span>
              </li>
              <li>
                <span>주소 : 경기도 성남시 분당구 판교역로 221</span>
              </li>
            </ul>
          </details>
          <span class="span-bar">|</span>
          <span>사업자 정보 확인</span>
        </div>
        <div class="footer-box">
          <span>© Kakao Entertainment Corp.</span>
        </div>
      </div>
      <div class="footer-right">
        <img
          src="https://static-page.kakao.com/static/common/okMark.png?861290e3393cbb3c93e6d3056d6905af"
          alt="저작권ok"
        />
        <span>저작권 ok</span>
      </div>
    </footer>
  </body>
</html>
