/* // 공통으로 쓰는 css들 */

.underline {
  border-bottom-color: #ffd200;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.makeBold {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  line-height: 1.15;
}

.makeBackgroundImg {
  background-image: url(https://static-page.kakao.com/static/pc/back_circle_new.png?e9d1b1196d71c665932558051a894132);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 44px;
}

.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}