/* ======== footer ======== */
.footer {
  width: 720px;
  margin: auto;
  padding: 60px 0;
  font-size: 0.75rem;
}

.footer__info {
  justify-content: left;
  margin-bottom: 12px;
}

.footer__info > li > a {
  padding: 0 12px 0 0;
  color: gray;
}

.footer__info-business {
  justify-content: left;
  align-items: baseline;
}

.footer__info-business > li > a {
  padding: 0 12px;
  color: gray;
}

.footer__info-business > li > button {
  padding: 0 12px 0 0;
  font-size: 12px;
  color: gray;
}

.footer__info-business .divider {
  height: 8px;
  background-color: black;
}