
.navbar {
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
  height: 68px;
  
}

.content-list {
  padding: 0;
  display: flex;
  margin: 0px auto;
  width: 720px;
  height: 67px;
}



li {
  list-style: none;
  flex: 1 1 auto;
  padding: 13px 0 15px;
  border-bottom-width: 3px;
  text-align: center;
}

/* 여기부터 nabvar second */

.navbar-second {
  width: 100%;
  margin: 0px auto;
  padding-top: 17px; 
}

.navbar-second-1 {
  background-color: white;
  width: 720px;
  padding: 0px;
  margin: 0px auto;
  display: flex;
}

.navbar-second-content {
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  font-size: 20px;
  padding: 22px 0px;
  background-color: transparent;
  cursor: pointer;
  color: rgb(187, 187, 187);
  font-weight: 350;
  line-height: 1.15;
}

.navbar-second-content-link {
  text-decoration: none;
  color: rgb(187, 187, 187);
  font-weight: 350;
  line-height: 1.15;
}


.navbar-week {
  padding-top: 7px;
}



/* 여기부터 전체 웹툰 웹툰 navbar */

.navbar-webtoon {
  display: flex;
  width: 720px;
  justify-content: space-between;
  list-style: none;
  background-color: white;
  margin: 0 auto;
  border-top: 1px solid rgb(241, 241, 241);
  border-bottom: 1px solid rgb(241, 241, 241);
}

.navbar-webtoon-1 {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0px;
}

.navbar-webtoon-menu {
  padding: 20px 10px;
  padding-right: 0px;
  display: flex;
  align-items: center;
  color: rgb(187, 187, 187);
  font-size: 20px;
  text-align: center;
}

.navbar-webtoon-total-menu {
  display: flex;
  padding: 26px 13px 10px;
}

.navbar-webtoon-total-menu-1 {
  display: flex;
  font-size: 18px;
  color: rgb(153, 153, 153);
  text-align: right;
  flex: 1 0 auto;
}

/* 여기부터 webtoon list */

.webtoon-list {
  background-color: rgb(255, 255, 255);
  width: 720px;
  margin: 0 auto;
  padding: 20px;
}

.webtoon-list-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.webtoon-content {
  width: 120px;
  margin: 0px 0px 21px;
  text-decoration-line: none;
}

.webtoon-img-1 {
  height: 120px;
  overflow: hidden;
  width: 120px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 8px;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.webtoon-ranking-description {
  background-color: #242526;
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  align-items: center;   /*중심축에서 center이므로 수직선에서 가운데라고 생각하면됨*/
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 8px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ranking {
  line-height: 1;
  font-weight: 400;
  color: #ffd200;
  font-size: 16px;
}

.ranking-logo {
  height: 16px;
  margin-top: 2px;
  align-items: center;
  display: flex;
}

.webtoon-list-description {
  color: #333333;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 9px;
  margin-bottom: 7px;
}


.viewers-num {
  display: flex;
  font-size: 14px;
  font-weight: 350;
  color: #9c9c9c;
  align-items: center;
}

.viewers-logo {
  width: 11px;
  height: 11px;
  display: flex;
  align-items: center;
  margin-right: 3px;
}

