@import "./reset.css";
@import "./variables.css";

/*components*/
@import "./components/frame.css";
@import "./components/nav.css";
@import "./components/webtoon-card--big.css";
@import "./components/webtoon-card--long.css";
@import "./components/promotion-banner.css";
@import "./components/sub-ad-banner.css";
@import "./components/webtoon-card.css";
@import "./components/company-bar.css";

/*blocks*/
@import "./blocks/header.css";
@import "./blocks/main-ad-banner.css";
@import "./blocks/expected-top.css";
@import "./blocks/event-banner.css";
@import "./blocks/romance-top.css";
@import "./blocks/dow-serialization.css";

body {
  background-color: #eee;
}

.home,
footer {
  width: var(--basic-width);
  margin: 0 auto;
}

.home {
  margin-top: 169px;
}

button {
  background: transparent;
  border-style: none;
  padding: 0;
}

button:hover,
.nav__item:hover {
  cursor: pointer;
}

.separator {
  color: var(--gray);
  margin: 0 3px;
}

.dow-top__contents,
.expected-top__contents,
.romance-top__contents,
.dow-serialization__contents {
  display: flex;
  flex-wrap: wrap;
}

.kakao-app {
  margin-top: 10px;
}
