.header {
  width: 100%;
  background-color: #fff;
  /* margin-bottom: 18px; */
}

.header__row {
  display: flex;
  width: 720px;
  height: 80px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__content:first-child {
  width: 130px;
}

.header__content:last-child {
  width: 590px;
  justify-content: flex-end;
}

.header__title {
  font-size: 28px;
  position: relative;
  top: -4px;
}

.search-bar-container {
  width: 180px;
  height: 35px;
  border: 1px solid #00000033;
  border-radius: 20px;
  position: relative;
}

.search-bar__input {
  border: none;
  font-size: 18px;
  padding: 2px;
  width: 75%;
  position: absolute;
  top: 2px;
  left: 12px;
}

.search-bar__btn {
  border: none;
  position: absolute;
  background-color: #fff;
  top: 6px;
  right: 12px;
}

.search-bar__btn img {
  background-color: #fff;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.header__stage-btn {
  margin-left: 22px;
  position: relative;
  bottom: -2px;
}

.auth-container {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-left: 22px;
}

.auth-container span {
  color: #0000004d;
  font-weight: bold;
}

.seperator {
  margin: 0 8px;
}

.seperator img {
  width: 2px;
  height: 15px;
  background-color: #e2e2e2;
}
