.frame {
  margin-top: 10px;
  padding: 20px 30px;
  font-size: 20px;
  background-color: white;
}

.frame__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.frame .nav li {
  padding: 10px 30px 35px 30px;
}

.frame__title {
  display: flex;
  align-items: center;
}

.frame__title span {
  font-size: 0.8rem;
  color: var(--gray);
}

.frame__more {
  font-size: 18px;
  color: var(--gray);
}
