:root {
    --white:#ffffff;
    --yellow-button: #fce51d;
    --font-gray: #999;
    --font-dark: black;
}
header {
    background-color: var(--white);
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    
    display: flex;
    justify-content: center;
  }
  .header-kakaopage {
     font-size: 1em;
    margin-top: 30px;
     margin-left: 10px;
  }
  .header-menu {
    display: flex;
    justify-content: end;
    margin-top: 30px;
    width: 720px;
    height: 30px;
  }
  .header-input {
    background: var(--white);
    line-height: 23px;
    padding: 2px;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    margin-right: 15px;
  }
  .header-stage {
      border: none;
      border-radius: 10px;
      font-size: 12px;
      font-weight: 600;
      color: var(--font-dark);
      background-color: var(--yellow-button);
      margin-right: 10px;
  }
  .header-mini-menu {
      border: none;
      border-radius: 10px;
      font-size: 12px;
      font-weight: 500;
      color: var(--font-gray);
      margin-right: 22px;
      background-color: transparent;
  }