body {
  margin: 0 auto;
  width: 720px;
  background: $gray-2;
  color: $gray-9;

  &::before {
    content: '';
    display: block;
    clear: both;
    height: 148px;
  }
}

img {
  width: 100%;
}
