.main-day {
  padding: 0;
}

.day__list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 65px;
  padding: 10px;
  margin: 0;
  color: var(--color-grey);
}

.day__item {
  cursor: pointer;
  text-align: center;
  width: 45px;
  line-height: 45px;
}

.day__item.selected {
  color: var(--color-black);
  font-weight: 600;
  background: url('https://static-page.kakao.com/static/pc/back_circle_new.png?e9d1b1196d71c665932558051a894132');
  background-repeat: no-repeat;
  background-size: 45px;
}
