.gnb {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 93px;
  background-color: var(--color-white);
  width: 100%;
}

.gnb__list {
  display: flex;
  justify-content: space-between;
  width: var(--main-width);
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.gnb__item {
  padding: 10px 30px 10px 30px;
  position: relative;
  cursor: pointer;
}

.gnb__item a {
  color: var(--color-black);
}

.alarm::after {
  content: '';
  width: 7px;
  height: 7px;
  background-color: var(--color-yellow);
  border-radius: 100%;
  position: absolute;
  right: 5px;
  top: 5px;
}

.gnb__item.selected {
  border-bottom: 3px solid var(--color-yellow);
}
