.main-banner {
  padding: 0;
  width: 720px;
  height: 480px;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  overflow: hidden;
}

.main-banner__list {
  display: flex;
}

.main-banner__item {
  position: relative;
  width: 720px;
  height: 480px;
}

.main-banner__poster > img {
  width: 100%;
  height: 100%;
}

.main-banner__btn {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  cursor: pointer;
}

.main-banner__btn.btn--prev {
  left: 20px;
}

.main-banner__btn.btn--next {
  right: 20px;
}

.main-banner__description-box {
  position: absolute;
  top: 68%;
  width: 100%;
  padding: 20px;
}

.description__title {
  color: var(--color-white);
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.description__sub-box {
  color: var(--color-white);
  font-weight: 600;
  font-size: 1.1rem;
}
.description__sub-box > * {
  margin-right: 10px;
}

.description__pages {
  position: absolute;
  bottom: 12%;
  right: 3%;
  color: var(--color-grey);
  font-weight: 600;
  font-size: 1.3rem;
}

.description__separator {
  background-color: var(--color-white);
  width: 1px;
  height: 15px;
}

.description__category,
.description__view {
  margin-left: 5px;
}

.main-banner__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  font-size: 1.1rem;
  line-height: 40px;
  text-align: center;
  background-color: var(--color-yellow);
}

.flex-box {
  display: flex;
  align-items: center;
}
