.main {
  width: var(--main-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainbox {
  display: flex;
  background-color: var(--color-white);
  padding: 20px;
  margin: 0 0 10px 0;
}

/* main days */
.main-day {
  padding: 0;
}

.day__list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 65px;
  padding: 10px;
  margin: 0;
  color: var(--color-grey);
}

.day__item {
  cursor: pointer;
  text-align: center;
  width: 45px;
  line-height: 45px;
}

.day__item.selected {
  color: var(--color-black);
  font-weight: 600;
  background: url('https://static-page.kakao.com/static/pc/back_circle_new.png?e9d1b1196d71c665932558051a894132');
  background-repeat: no-repeat;
  background-size: 45px;
}

/* main webtoons */
.webtoons {
  padding: 10px 20px 10px 20px;
  flex-direction: column;
}

.webtoon__item {
  display: flex;
  margin: 15px 0;
}

.webtoon__image {
  width: 142px;
  height: 96px;
  border-radius: 10px;
}

.webtoon__discription-box {
  margin-left: 20px;
}

.webtoon__discription-box > * {
  margin-bottom: 10px;
}

.webtoon__title {
  margin-top: 10px;
  font-weight: 600;
}

.webtoon__summary,
.webtoon__info {
  font-size: 0.8rem;
  color: var(--color-dark-grey);
}

.webtoon__info {
  display: flex;
  align-items: center;
}

.webtoon__view-img {
  width: 11px;
  height: 11px;
}

.webtoon__separator {
  width: 1px;
  height: 12px;
  background-color: var(--color-grey);
  margin: 0 5px;
}

/* promotion */
.promotion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
}

.promotion__more {
  color: var(--color-dark-grey);
  font-size: 0.9rem;
}
