@import url(./reset.css);

:root {
    --max-width: 720px;
    --header-height: 84px;
    --gnb-height: 69px;
    --color-yellow: #ffd200;
}

/**
common
**/
.hidden-text {
    font-size: 0;
    color: transparent;
}
.clock-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../images/common/ico-clock-black.png') no-repeat center / auto 20px;
    vertical-align: middle;
}

.slider {
    position: relative;
    overflow: hidden;
}
.slide-container {
    display: inline-flex;
}
.slide-buttons {
    position: absolute;
    top: 50%;
    left:0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    transform: translateY(-50%);
}
.slide-button {
    width: 40px;
    height: 40px;
    background: no-repeat center / 100% auto;
}
.slide-button.prev {
    background-image: url('../images/common/slide-previous-button_dark.svg');
}
.slide-button.next {
    background-image: url('../images/common/slide-next-button_dark.svg');
}
.slide-paging-number {
    position: absolute;
    bottom: 60px;
    right: 20px;
    font-size: 20px;
    color: #fff;
    opacity: 0.6;
}
.slide-paging-number__all:before {
    content: ' / ';
}

/**
display
**/
#container {
    position: relative;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding-top: calc(var(--gnb-height) + var(--header-height) + 14px);
    overflow: hidden;
}
.section {
    margin-bottom: 11px;
    padding: 22px 20px;
    background: #fff;
}
.float-bottom {
    position: absolute;
    left: 20px;
    bottom: 60px;
    color: #fff;
}
.row-5 {
    width: 20%;
}

/**
header
**/
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background: #fff;
}
.header__container {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 30px 0 20px;
    overflow: hidden;
}
#header__logo {
    width: 130px;
}
.header__service-area {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.search {
    width: 186px;
    height: 34px;
    padding: 6px 11px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 17px;
    overflow: hidden;
}
.search__form {
    display: flex;
    justify-content: space-between;
}
.search__input {
    width: calc(100% - 20px);
    padding-right: 7px;
    line-height: 20px;
}
.search__button {
    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/common/ico-btn-search.png') no-repeat center / 100% auto;
}
.header__user-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: var(--color-gray);
}
.header__user-service:not(:first-child) {
    position: relative;
    margin-left: 12px;
    padding-left: 13px;
}
.header__user-service:not(:first-child):after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 1px;
    height: 60%;
    background: #e2e2e2;
    transform: translateY(-50%);
}

/**
gnb
**/
.gnb-container {
    position: fixed;
    top: var(--header-height);
    left: 0;
    z-index: 100;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: border-box;
}
.gnb {
    display: flex;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}
.gnb__item {
    flex: 1 1 auto;
    font-size: 18px;
    text-align: center;
}
.gnb__link {
    display: block;
    padding-top: 10px;
    font-weight: 500;
    line-height: 58px;
}
.gnb__link.on {
    line-height: 55px;
    border-bottom: 3px solid var(--color-yellow);
}
.gnb__link .clock-icon {
    position: relative;
    margin-left: 20px;

}
.gnb__link .clock-icon:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -12px;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--color-black);
    transform: translateY(-50%);
}

/**
category
**/
.categories {
    display: flex;
    justify-content: space-around;
    background: #fff;
}
.category {
    flex: 1 1 auto;
    text-align: center;
}
.category__link {
    display: block;
    font-size: 20px;
    color: rgb(187, 187, 187);
    line-height: 67px;
}
.category__link.on {
    color: inherit;
}


/**
banner
**/
.main-banners {
    margin: 11px 0;
}
.main-banner {
    position: relative;
    width: var(--max-width);
    font-weight: 700;
}
.main-banner__img-wrap {
    height: 440px;
    overflow: hidden;
}
.main-banner__title {
    font-size: 28px;
    font-weight: 500;
}
.main-banner__tags {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 1;
}
.main-banner__status {
    padding: 0 5px;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-yellow);
    background: #000;
    border: 1px solid var(--color-yellow);
    border-radius: 3px;
}
.main-banner__category:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url('../images/common/ico-clock_white.svg') no-repeat left center / auto 20px;
    vertical-align: middle;
}
.main-banner__category:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 18px;
    margin-left: 10px;
    background: #b0aeae;
}
.main-banner__reader:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../images/common/ico-user.svg') no-repeat left center / auto 20px;
    vertical-align: middle;
}
.main-banner__description {
    font-size: 18px;
    background: var(--color-yellow);
    line-height: 40px;
    text-align: center;
}
.main-banners .slide-buttons {
    margin-top: -10px;
}