@charset "utf-8";

/**
variable
**/
:root {
    --color-black: #333;
}

/**
font
**/
@font-face {
    font-family: 'NotoSans';
    font-weight: 400;
    font-style: normal;
    src: url('../font/NotoSansKR-Medium.otf');
    
}
@font-face {
    font-family: 'NotoSans';
    font-weight: 500;
    font-style: normal;
    src: url('../font/NotoSansKR-Medium.otf');
}
@font-face {
    font-family: 'NotoSans';
    font-weight: 700;
    font-style: normal;
    src: url('../font/NotoSansKR-Bold.otf');
}

/**
reset
**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    width: 100%;
    background: #eee;
    font-family: 'NotoSans', sans-serif;
    font-size: 16px;
    line-height: 1.15;
    color: var(--color-black);
    letter-spacing: -0.03em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
input, select, button, textarea {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-family: 'NotoSans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #1b2529;
    background: none;
    border: 0;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

input,
select,
textarea {
    display: block;
    width: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
    max-width: 100%;
    border: 0;
    display: block;
}
button {
    border: 0;
    outline: none;
    cursor: pointer;
}
i, em, address {
    font-style: normal
}
u {
    text-decoration: none;
}
a {
    display: block;
    font-family: 'NotoSans', sans-serif;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}