@charset "utf-8";

:root {
    --max-width: 720px;
    --header-height: 84px;
    --gnb-height: 69px;
    --color-black: #333;
    --color-gray: #999;
    --color-yellow: #ffd200;
    --color-dark-yellow: rgb(254, 204, 46);
    --font-size-S: 14px;
    --font-size-M: 16px;
    --font-size-L: 18px;
    --font-size-XL: 20px;
    --font-weight-R: 400;
    --font-weight-M: 500;
    --font-weight-B: 700;
}