/* Color */

$bg-black: #000;
$bg-dark-gray: #242526;
$bg-light-gray: #EEE;
$bg-yellow: #FECC2E;
$bg-red: #EF5350;
$bg-light-blue: #7FB4FF;

$text-dark-gray: #333;
$text-mid-gray: #999;
$text-light-gray: #CFCFCF;
$text-white: #FFF;
$text-yellow: #FFD200;

$border-gray: #DFDFDF;
$border-light-gray: #E6E6E6;

$info-gray: #9C9C9C;

$footer-gray: #BDBDBD;