.page-main-category {
  font-size: 20px;
}

.page-main-category__row {
  display: flex;
  align-items: center;
}

.page-main-category__row li {
  padding: 22px 0;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  cursor: pointer;
}
