.page-main {
  width: 100%;
  margin-top: 170px;
}

.page-main__container {
  width: 720px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 14px;
}

.contents-container {
  padding: 20px;
}

.contents-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contents-more {
  display: flex;
  align-items: center;
}

.contents-more img {
  margin-left: 4px;
}
