.preview-list {
  height: 480px;
  width: 300%;
  cursor: pointer;
  display: flex;
}

.preview-container {
  overflow: hidden;
}

.preview {
  position: relative;
}

.preview-cover img,
.preview-info,
.preview-summary {
  width: var(--preview-width);
}

.preview-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
}

.preview-info-box {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.preview-title {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.preview-detail {
  display: flex;
  align-items: center;

  margin-top: 12px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
}

.preview-state img {
  height: 22px;
}

.preview-state,
.preview-class,
.preview-subscribers {
  display: flex;
  align-items: center;
}

.preview-state {
  margin-right: 10px;
}

.preview-class img,
.preview-subscribers img {
  margin-right: 4px;
}

.preview-summary {
  background-color: var(--yellow);
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  margin-top: 20px;
}

.prev-btn,
.next-btn {
  position: absolute;
  background-color: #00000000;
  top: 220px;
  cursor: pointer;
  background-color: transparent;
}

.prev-btn {
  left: 20px;
}

.next-btn {
  right: 20px;
}

.prev-btn:hover,
.next-btn:hover {
  transform: scale(1.08);
}

.prev-btn:active,
.next-btn:active {
  transform: scale(1);
}
