.tag-list__container {
  padding: 20px;
}

.tag-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tag-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  border: 1px solid #fff;
  color: #3a3a3a;
  font-weight: bold;
  width: 33%;
  height: 60px;
}

.tag-list__tag {
  font-size: 18px;
}

.tag-list__note {
  font-size: 16px;
  background-color: var(--yellow);
  border-radius: 13px;
  padding: 2px 8px;
  margin-left: 10px;
}
