.filter {
  width: 720px;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  color: #bbbbbb;
}

.day-filter {
  display: flex;
}

.day-filter li {
  flex: 1;
  padding: 25px 0;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

/* filter UI탭 클릭 */
.day-filter li.circle {
  background: url('../../assets/data/filter/circle.png') 50% 50% / 40px
    no-repeat;
  color: black;
  font-weight: bold;
}
