:root {
    --color-white: #fff;
    --color-black: #000;
    --color-black-font: #222;
    --color-gray-border: #cfcfcf;
    --color-gray-background: #e2e2e2;
    --color-darkgray-font: #999;
    --color-gray-font: #bbb;
    --color-yellow: #ffd200;
}