:root {
    --color-white: #fff;
    --color-black: #000;
    --color-gray-border: #ccc;
    --color-gray-background: #eee;
    --color-darkgray-font: #999;
    --color-gray-font: #bbb;
    --color-yellow: #fd0;
}