.l-category {
  height: 40%;
}

.header__index {
  position: relative;
  /* padding: 30px 0;
  width: 16%; */
  padding: 30px;
}

.header__index:hover,
.header__index:active {
  border-bottom: 4px solid var(--main-yellow);
}

.c-category__content {
  font-size: 1.1rem;
  font-weight: 400;
}

.c-category__alaram {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--main-yellow);
  top: 10px;
  right: 20px;
}
