.l-category {
  height: 40%;
}

.header__index {
  padding: 30px 0;
  width: 18%;
}

.header__index:hover,
.header__index:active {
  border-bottom: 4px solid var(--main-yellow);
}

.c-category__content {
  position: relative;
  font-size: 1.1rem;
  font-weight: 400;
}

.c-category__alaram {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--main-yellow);
  top: -10px;
  right: -10px;
}
