@import './navigation.css';
@import './category.css';

.l-header {
  background-color: var(--main-white);
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.l-header-child {
  width: var(--main-width);
  display: flex;
  align-items: center;
}
