@charset "utf-8";

:root {
    --max-width: 720px;
    --header-height: 153px;
    --black: #333;
    --gray: #999;
    --light-gray: #bdbdbd;
    --light-gray-border: #dfdfdf;
    --yellow: #ffd200;
    --dark-yellow: rgb(254, 204, 46);
    --fs-S: 14px;
    --fs-M: 16px;
    --fs-L: 18px;
    --fs-XL: 20px;
    --fw-R: 400;
    --fw-M: 500;
    --fw-B: 700;
}