:root {
    --font-gray: #999;
    --font-dark: black;
}
footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.policy-li {
    font-size: 10px;
    color: var(--font-dark);
    list-style-type: none;
}