:root {
  --hover-yellow: rgb(250, 252, 233);
  --border-bottom-color: #ffd200;
}
nav {
  display: block;
}
main {
  display: flex;
  justify-content: center;
}
.main-nav {
  background-color: var(--white);
  margin: 0;
  min-width: 0;
  /* top: 80px; */
  border: 1px solid #f1f1f1;
  /* width: 100%; */
}
.main-position {
  position: fixed;
  top: 80px;
  width: 100%;

  display: flex;
  align-content: center;
}
.main-ul {
  box-sizing: border-box;
  min-width: 0px;
  visibility: visible;
  padding: 0px;
  margin: 0px auto;
  width: 720px;
  display: flex;
}
/* Style tab links */
.main-li {
  list-style-type: none;
  background-color: var(--white);
  color: var(--font-dark);
  float: left;
  /* border: none; */
  border-bottom-color: transparent;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16%;
}
.main-li.yellow-line {
  border-bottom-color: var(--border-bottom-color);
}

.main-contents {
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
}
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  background-color: var(--white);
  color: var(--font-dark);
  display: none;
  padding: 100px 20px;
  height: 100%;
}
  
  