@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.4;
}

body {
    background-color: #eee;
}
.inner {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}

.hide {
    display: none;
}

.text_ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    background-color: #fff;
    z-index: 10;
}

header .header_top .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header .logo a {
    display: block;
}

header .header_box {
    display: flex;
    align-items: center;
}

header .search_box form {
    width: 186px;
    display: flex;
    align-items: center;
    height: 34px;
    border: 1px solid #cfcfcf;
    border-radius: 17px;
    box-sizing: border-box;
    overflow: hidden;
}

header .search_box input {
    width: 100%;
    height: 100%;
}

header .search_box button {
    flex-shrink: 0;
    width: 30px;
    height: 100%;
    background: url(../images/ico/btn_search.png) no-repeat left center / 20px;
    text-indent: -9999em;
}

header .header_nav {
    display: flex;
    align-items: center;

}

header .header_nav .stage_box {
    position: relative;
    margin-left: 24px;
    margin-right: 22px;
}

header .header_nav .stage_box a {
    display: block;
    font-size: 0;
}

header .header_nav .stage_box .stage_tooltip {
    position: absolute;
    top: calc(100% + 3px);
    left: 50%;
    transform: translateX(-50%);
}

header .header_nav .user_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header_nav .user_nav button {
    font-size: 18px;
    color: #999;
}

header .header_nav .user_nav button+button::before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background-color: #e2e2e2;
}

/* //HEADER */

/* GNB */
.gnb ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gnb ul li {
    flex: auto;
    padding: 30px 0 15px;
    border-bottom: 3px solid transparent;
    font-size: 0;
}

.gnb ul li button {
    width: 100%;
}

.gnb ul li.active {
    border-bottom-color: #ffd200;
}

/* //GNB */

/* FOOTER */
footer {
    padding: 60px 0 50px;
    font-size: 14px;
    color: #bdbdbd;
}

footer .inner {
    display: flex;
    justify-content: space-between;
}

.fnb {
    display: flex;
}

.fnb li {
    line-height: 24px;
    margin-right: 3px;
}

.fnb li+li::before {
    content: '• ';
    display: inline-block;
}

.fnb li strong {
    font-weight: 500;
}

footer .company_info {
    margin-top: 5px;
    line-height: 1.4;
}

footer .company_info .info_main {
    display: flex;
    align-items: center;
}

footer .company_info .info_main span.company_btn {
    cursor: pointer;
}

footer .company_info .info_main span.company_btn::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    background: url(../images/common/f_company_btn.png) no-repeat center / 100%;
}

footer .company_info .info_main span.company_btn.open::after {
    transform: rotateX(180deg);
}

footer .company_info .info_main span.underline {
    text-decoration: underline;
}

footer .company_info .info_main span+span::before {
    content: '|';
    display: inline-block;
    margin: 0 10px;
}

footer .company_info .detail {
    display: none;
}

footer .company_info .detail.open {
    display: block;
}

footer .company_info .detail p {
    margin-top: 7px;
}

footer .company_info .detail span + span::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 5px;
    background-color: #d9d9d9;
}

footer .footer_info .copyright {
    margin-top: 15px;
    color: #cdcdcd;
}

footer .mark_box a {
    display: block;
}

footer .mark_box img {
    width: 55px;
}

footer .mark_box .mark_ttl {
    margin-top: 3px;
    text-align: center;
    font-size: 12px;
    color: #a8a8a8;
}

/* //FOOTER */