/* MAIN */

.main_contents_box {
    margin-top: 149px;
    padding-top: 18px;
}

/* LNB */
.main_contents_box .lnb {
    background: #fff;
}

.main_contents_box .lnb ul {
    display: flex;
}

.main_contents_box .lnb ul li {
    padding: 21px 0;
    font-size: 20px;
    color: rgb(187, 187, 187);
    font-weight: 350;
    flex: auto;
}

.main_contents_box .lnb ul li.active {
    color: rgb(51, 51, 51);
    font-weight: 500;
}

.main_contents_box .lnb ul li button {
    width: 100%;
}

/* //LNB */

/* MAIN CONTENTS */
.main_contents > .contents {
    margin-top: 11px;
    border-bottom: 1px solid #e6e6e6;
}

/* item */
.item img {
    display: block;
}

.item_type1 {
    position: relative;
    width: 100%;
}

.item_type1 .img img {
    width: 100%;
}

.item_type1 .txt {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.item_type1 .txt .info_box {
    padding: 0 20px;
    color: #fff;
}

.item_type1 .txt .info_box .info {
    display: flex;
    align-items: center;
}

.item_type1 .txt .info_box .info_txt {
    background-repeat: no-repeat;
    background-position: left center;
}

.item_type1 .txt .info_box .info_txt.cat {
    background-image: url(../images/ico/ico-bigthum-wait.svg);
}

.item_type1 .txt .info_box .info_txt.viewer {
    background-image: url(../images/ico/ico-bigthum-person.svg);
}

.item_type1 .txt .desc {
    text-align: center;
    font-weight: 350;
    color: #222222;
    background: #ffd200;
}


/* banner */
.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner .slider_controller {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999em;
}

.banner .slider_items {
    display: flex;
    width: 100%;
}

.banner .slider_items .item {
    width: 100%;
    flex-shrink: 0;
}

/* top banner */
.top_banner .slider_controller {
    width: 40px;
    height: 40px;
}
.top_banner .slider_controller.prev {
    left: 20px;
    background-image: url(../images/ico/ic-banner-prev.svg);
}
.top_banner .slider_controller.next {
    right: 20px;
    background-image: url(../images/ico/ic-banner-next.svg);
}
.top_banner .item .ttl {
    font-size: 28px;
    font-weight: 500;
}
.top_banner .item .info {
    margin-top: 10px;
}
.top_banner .item .info .badge {
    margin-right: 10px;
}
.top_banner .item .info .info_txt {
    font-size: 20px;
    background-position: left calc(50% + 1px);
}
.top_banner .item .info .info_txt + .info_txt {
    position: relative;
    margin-left: 18px;
}

.top_banner .item .info .info_txt + .info_txt::before {
    content: '';
    position: absolute;
    left: -9px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 16px;
    background: url(../images/ico/line_top_banner.png);
}
.top_banner .item .info .info_txt.cat {
    padding-left: 22px;
    background-size: 18px;
}

.top_banner .item .info .info_txt.viewer {
    padding-left: 20px;
    background-size: 16px;
}
.top_banner .item .txt .desc {
    height: 40px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 40px;
}
.top_banner .slider_pager {
    position: absolute;
    right: 24px;
    bottom: 57px;
    font-size: 20px;
    color: #fff;
    opacity: .6;
}

/* mid banner */
.mid_banner {
    background-color: #fff;
}
.mid_banner .slider_controller {
    width: 85px;
    height: 100%;
}
.mid_banner .slider_controller.prev {
    left: 0;
    background-image: url(../images/ico/ic-mid-banner-prev.svg);
}
.mid_banner .slider_controller.next {
    right: 0;
    background-image: url(../images/ico/ic-mid-banner-next.svg);
}

.mid_banner .slider_box {
    width: 550px;
    margin: 0 auto;
    overflow: hidden;
}

.mid_banner .slider_items .item {
    width: 550px;
    margin: 0 auto;
    padding: 20px 0;
}
.mid_banner .slider_items .item img {
    width: 100%;
    border-radius: 5px;
}

/* //banner */

/* sub_nav */
.main_contents .sub_nav {
    padding: 20px;
    background: #fff;
}

.main_contents .sub_nav ul {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    background: #f3f3f3;
}

.main_contents .sub_nav ul li {
    width: 33.3333%;
    height: 60px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    box-sizing: border-box;
}

.main_contents .sub_nav ul li:nth-child(3n) {
    border-right: none;
}

.main_contents .sub_nav ul li:nth-child(n+4) {
    border-bottom: none;
}

.main_contents .sub_nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #3a3a3a;

    box-sizing: border-box;
}

.main_contents .sub_nav ul li .sub_nav_ttl {
    font-weight: 500;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.main_contents .sub_nav ul li .num {
    height: 24px;
    margin-left: 10px;
    padding: 0 8px;
    border-radius: 13px;
    font-size: 16px;
    line-height: 24px;
    background: #ffd200;
}

/* /sub_nav */

