<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article class="article__books5">
        <header class="article__header">
            <div class="article__header-wrapper">
                <div class="article__header-text-wrapper">
                    <h2>로맨스 TOP</h2>
                </div>
                <button class="article__header-button">더보기 ></button>
            </div>
        </header>
        <div class="section__book-wrapper">
            <section class="section__book">
                <div class="section__book-image-wrapper">
                    <img src="./images/학사재생.png" alt="">
                    <div class="section__book-image-infor">
                        <span>1위</span>
                        <i class="fas fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="section__book-text-wrapper">
                    <span>어쩌고 저쩌고</span>
                    <span><i class="fas fa-user-alt"></i> 28.5만명</span>
                </div>
            </section>
            <section class="section__book">
                <div class="section__book-image-wrapper">
                    <img src="./images/학사재생.png" alt="">
                    <div class="section__book-image-infor">
                        <span>1위</span>
                        <i class="fas fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="section__book-text-wrapper">
                    <span>어쩌고 저쩌고</span>
                    <span><i class="fas fa-user-alt"></i> 28.5만명</span>
                </div>
            </section>
            <section class="section__book">
                <div class="section__book-image-wrapper">
                    <img src="./images/학사재생.png" alt="">
                    <div class="section__book-image-infor">
                        <span>1위</span>
                        <i class="fas fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="section__book-text-wrapper">
                    <span>어쩌고 저쩌고</span>
                    <span><i class="fas fa-user-alt"></i> 28.5만명</span>
                </div>
            </section>
            <section class="section__book">
                <div class="section__book-image-wrapper">
                    <img src="./images/학사재생.png" alt="">
                    <div class="section__book-image-infor">
                        <span>1위</span>
                        <i class="fas fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="section__book-text-wrapper">
                    <span>어쩌고 저쩌고</span>
                    <span><i class="fas fa-user-alt"></i> 28.5만명</span>
                </div>
            </section>
            <section class="section__book">
                <div class="section__book-image-wrapper">
                    <img src="./images/학사재생.png" alt="">
                    <div class="section__book-image-infor">
                        <span>1위</span>
                        <i class="fas fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="section__book-text-wrapper">
                    <span>어쩌고 저쩌고</span>
                    <span><i class="fas fa-user-alt"></i> 28.5만명</span>
                </div>
            </section>
        </div>
    </article>
</body>
</html>