<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="article-weekdays.css">
</head>
<body>
    <header class="article__header">
        <div class="article__header-wrapper">
            <div class="article__header-text-wrapper">
                <h2>요일 연재 TOP</h2>
                <span>(1,622)</span>
            </div>
            <button class="article__header-button">더보기 ></button>
        </div>
        <nav class="article__nav">
            <ul class="article__nav-lists">
                <li><a href="#">월</a></li>
                <li><a href="#">화</a></li>
                <li><a href="#">수</a></li>
                <li><a href="#">목</a></li>
                <li><a href="#">금</a></li>
                <li><a href="#">토</a></li>
                <li><a href="#">일</a></li>
                <li><a href="#">완결</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>