<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article class="article__ranking3">
        <header class="article__header">
            <div class="article__header-wrapper">
                <div class="article__header-text-wrapper">
                    <h2>로맨스 TOP</h2>
                </div>
                <button class="article__header-button">더보기 ></button>
            </div>
        </header>
        <ol class="article__ranking3-lists">
            <li class="article__ranking3-list" value="1">
                <span class="article__ranking3-num">1</span>
                <img src="./useimages/ranking3.jpg" alt="image">
                <div class="article__ranking-list-text-wrapper">
                    <h3>이번 생은 가주가 되겠습니다</h3>
                    <div class="article--raking-list-mid-text-wrapper">
                        <span class="article__ranking-list-text"><i class="fas fa-user-alt"></i>122.7만명</span>
                        <span class="article__ranking-list-text">기다무 웹툰</span>
                        <span class="article__ranking-list-text">로판</span>
                        <span class="article__ranking-list-text">앤트스튜디오, 김로아</span>
                    </div>
                    <span class="article__ranking-list-text">월연재</span>
                </div>
            </li>
            <li class="article__ranking3-list" value="2">
                <span class="article__ranking3-num">2</span>
                <img src="./useimages/ranking3.jpg" alt="image">
                <div class="article__ranking-list-text-wrapper">
                    <h3>이번 생은 가주가 되겠습니다</h3>
                    <div class="article--raking-list-mid-text-wrapper">
                        <span class="article__ranking-list-text"><i class="fas fa-user-alt"></i>122.7만명</span>
                        <span class="article__ranking-list-text">기다무 웹툰</span>
                        <span class="article__ranking-list-text">로판</span>
                        <span class="article__ranking-list-text">앤트스튜디오, 김로아</span>
                    </div>
                    <span class="article__ranking-list-text">월연재</span>
                </div>
            </li>
            <li class="article__ranking3-list" value="3">
                <span class="article__ranking3-num">3</span>
                <img src="./useimages/ranking3.jpg" alt="image">
                <div class="article__ranking-list-text-wrapper">
                    <h3>이번 생은 가주가 되겠습니다</h3>
                    <div class="article--raking-list-mid-text-wrapper">
                        <span class="article__ranking-list-text"><i class="fas fa-user-alt"></i>122.7만명</span>
                        <span class="article__ranking-list-text">기다무 웹툰</span>
                        <span class="article__ranking-list-text">로판</span>
                        <span class="article__ranking-list-text">앤트스튜디오, 김로아</span>
                    </div>
                    <span class="article__ranking-list-text">월연재</span>
                </div>
            </li>
        </ol>
    </article>
</body>
</html>