<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kakaopage</title>
    <link rel="stylesheet" href="article-weekdays.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
</head>
<body>
    <article class="article__weekdays-top">
        <header class="article__header">
            <div class="article__header-wrapper">
                <div class="article__header-text-wrapper">
                    <h2>요일 연재 TOP</h2>
                    <span>(1,622)</span>
                </div>
                <button class="article__header-button">더보기 ></button>
            </div>
            <nav class="article__nav">
                <ul class="article__nav-lists">
                    <li><a href="#">월</a></li>
                    <li><a href="#">화</a></li>
                    <li><a href="#">수</a></li>
                    <li><a href="#">목</a></li>
                    <li><a href="#">금</a></li>
                    <li><a href="#">토</a></li>
                    <li><a href="#">일</a></li>
                    <li><a href="#">완결</a></li>
                </ul>
            </nav>
        </header>
        <div class="section__book-wrapper">
            <section class="section__book">
                <div class="section__book-image-wrapper">
                    <img src="./images/학사재생.png" alt="">
                    <div class="section__book-image-infor">
                        <span>1위</span>
                        <i class="fas fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="section__book-text-wrapper">
                    <span>어쩌고 저쩌고</span>
                    <span><i class="fas fa-user-alt"></i> 28.5만명</span>
                </div>
            </section>
            <section class="section__book">
                <div class="section__book-image-wrapper">
                    <img src="./images/학사재생.png" alt="">
                    <div class="section__book-image-infor">
                        <span>1위</span>
                        <i class="fas fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="section__book-text-wrapper">
                    <span class="section__book-text">어쩌고 저쩌고</span>
                    <span class="section__book-text"><i class="fas fa-user-alt"></i> 28.5만명</span>
                </div>
            </section>
            <section class="section__book">
                <div class="section__book-image-wrapper">
                    <img src="./images/학사재생.png" alt="">
                    <div class="section__book-image-infor">
                        <span>1위</span>
                        <i class="fas fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="section__book-text-wrapper">
                    <span class="section__book-text">어쩌고 저쩌고</span>
                    <span class="section__book-text"><i class="fas fa-user-alt"></i> 28.5만명</span>
                </div>
            </section>
            <section class="section__book">
                <div class="section__book-image-wrapper">
                    <img src="./images/학사재생.png" alt="">
                    <div class="section__book-image-infor">
                        <span>1위</span>
                        <i class="fas fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="section__book-text-wrapper">
                    <span class="section__book-text">어쩌고 저쩌고</span>
                    <span class="section__book-text"><i class="fas fa-user-alt"></i> 28.5만명</span>
                </div>
            </section>
            <section class="section__book">
                <div class="section__book-image-wrapper">
                    <img src="./images/학사재생.png" alt="">
                    <div class="section__book-image-infor">
                        <span>1위</span>
                        <i class="fas fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="section__book-text-wrapper">
                    <span class="section__book-text">어쩌고 저쩌고</span>
                    <span class="section__book-text"><i class="fas fa-user-alt"></i> 28.5만명</span>
                </div>
            </section>
            <section class="section__book">
                <div class="section__book-image-wrapper">
                    <img src="./images/학사재생.png" alt="">
                    <div class="section__book-image-infor">
                        <span>1위</span>
                        <i class="fas fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="section__book-text-wrapper">
                    <span class="section__book-text">어쩌고 저쩌고</span>
                    <span class="section__book-text"><i class="fas fa-user-alt"></i> 28.5만명</span>
                </div>
            </section>
            <section class="section__book">
                <div class="section__book-image-wrapper">
                    <img src="./images/학사재생.png" alt="">
                    <div class="section__book-image-infor">
                        <span>1위</span>
                        <i class="fas fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="section__book-text-wrapper">
                    <span class="section__book-text">어쩌고 저쩌고</span>
                    <span class="section__book-text"><i class="fas fa-user-alt"></i> 28.5만명</span>
                </div>
            </section>
            <section class="section__book">
                <div class="section__book-image-wrapper">
                    <img src="./images/학사재생.png" alt="">
                    <div class="section__book-image-infor">
                        <span>1위</span>
                        <i class="fas fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="section__book-text-wrapper">
                    <span class="section__book-text">어쩌고 저쩌고</span>
                    <span class="section__book-text"><i class="fas fa-user-alt"></i> 28.5만명</span>
                </div>
            </section>
            <section class="section__book">
                <div class="section__book-image-wrapper">
                    <img src="./images/학사재생.png" alt="">
                    <div class="section__book-image-infor">
                        <span>1위</span>
                        <i class="fas fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="section__book-text-wrapper">
                    <span class="section__book-text">어쩌고 저쩌고</span>
                    <span class="section__book-text"><i class="fas fa-user-alt"></i> 28.5만명</span>
                </div>
            </section>
            <section class="section__book">
                <div class="section__book-image-wrapper">
                    <img src="./images/학사재생.png" alt="">
                    <div class="section__book-image-infor">
                        <span>1위</span>
                        <i class="fas fa-solid fa-clock"></i>
                    </div>
                </div>
                <div class="section__book-text-wrapper">
                    <span class="section__book-text">어쩌고 저쩌고</span>
                    <span class="section__book-text"><i class="fas fa-user-alt"></i> 28.5만명</span>
                </div>
            </section>
    </article>
</body>
</html>