<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <button class="footer__toApp-button">
            카카오페이지 앱으로 보기 >
        </button>

        <div class="footer__infor-wrapper">
            <div class="footer__infor-text-wrapper">
                <div class="footer__infor-text">
                    회사소개 이용약관 개인정보처리방침 청소년보호정책 공지사항
                </div>
                <div class="footer__infor-text">
                    (주)카카오엔터테인먼트 사업자 정보 <u>사업자 정보 확인</u>
                </div>
                <div class="footer__infor-text">
                    Kakao Entertainment Corp.
                </div>
            </div>
            <div class="footer__infor-image-wrapper">
                <img src="./useimages/ok mark.png" alt="image">
            </div>
        </div>
    </footer>
</body>
</html>