<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kakaopage</title>
    <link rel="stylesheet" href="mid-button.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
</head>
<body>
    <div class="mid-button__wrapper">
        <button class="mid-button">오늘 UP</button>
        <button class="mid-button">오늘 신작</button>
        <button class="mid-button">오리지널</button>
        <button class="mid-button">완결까지 정주행</button>
        <button class="mid-button">독립운동가 웹툰</button>
        <button class="mid-button">오늘 랭킹</button>
    </div>
</body>
</html>