:root {
    --main-color: #eeeeee;
    --sub-color: #f9d201;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

.nav {
    width: 720px;
    height: 60px;
    background-color: #fff;
    margin: 10px 0;
}

.nav__lists {
    display: flex;
    justify-content: space-around;
    padding: 0;
    font-size: 20px;
    list-style: none;
}

/* nav */

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

.aside__banner {
    position: relative;
    width: 720px;
    height: 470px;
    padding: 0;
}

.aside__banner img {
    width: 100%;
    height: 440px;
    margin-bottom: 0;
}

.aside__banner i{
    position: absolute;
    font-size: 40px;
    /* z-index: 1; */
    color: white;
    background-color: none;
}

.aside__banner #left-icon {
    left: 20px;
    top: 200px;
}

.aside__banner #right-icon {
    left: 650px;
    top: 200px;
}

.aside__banner-tittle-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 310px;
    width: 360px;
    height: 70px;
}

.aside__banner-tittle {
    margin: 0 0 5px 10px;
    font-size: 28px;
    color: #fff;
}

.aside__banner-lists-wrapper { 
    position: absolute;
    top: 370px;
    width: 360px;
    height: 50px;
    font-size:15px;
    color: #fff;
}

.aside__banner-lists {
    display: flex;
    align-items: center;
    padding-left: 10px;
    list-style: none;
}

.aside__banner-lists li {
    margin-right: 70px;
}

.aside__banner-lists i {
    margin-right: 50px;
    font-size: 24px;
}

.aside__banner-footer {
    position: absolute;
    top: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 720px;
    height: 40px;
    background-color: var(--sub-color);
}

/* banner */