
.aside__promotion-banner-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 720px;
    height: 140px;
    background-color: #fff;
    margin-top: 10px;
    font-size: 35px;
}

.aside__promotion-banner-inner img {
    width: 550px;
}

.aside__promotion-banner-inner i {
    font-size: 35px;
    color: pink;
}
