
/* recommend-banner */

.aside__recommend-banner {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 430px;
    margin-top: 10px;
    background-color: #fff;
}

.aside__reommend-banner-image-wrapper {
    width: 680px;
    height: 340px;
    margin: 0;
    padding: 20px;
}

.aside__reommend-banner-image-wrapper img {
    width: 100%;
    border-radius: 10px;
}