<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <aside class="aside__recommend-banner">
        <header class="article__header">
            <div class="article__header-wrapper">
                <div class="article__header-text-wrapper">
                    <h2>추천 이벤트</h2>
                </div>
                <button class="article__header-button">더보기 ></button>
            </div>
        </header>
        <div class="aside__reommend-banner-image-wrapper">
            <img src="./useimages/왕실교사 하이네 경품.png" alt="image">
        </div>
    </aside>
</body>
</html>