.topic {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.topic__title {
    margin-bottom: 10px;
    font-size: var(--font-20);

}

.topic__see {
    display: flex;
    text-decoration: none;
    color: var(--color-pale-gray);
}

.topic__see_img {
    width: 8px;
    height: 14px;
    margin-left: 5px;
}