.main-ad-banner {
  font-size: 20px;
  position: relative;
}

.event-slider {
  display: flex;
  transform: translateX(-720px);
}

.main-ad-banner__img {
  width: 720px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 240px;
}

.prev-btn {
  left: 20px;
}

.next-btn {
  right: 20px;
}

.main-ad-banner h1 {
  font-size: 1.8rem;
}

.main-ad-banner__page {
  margin-left: 400px;
  color: var(--gray);
  font-size: 1.5rem;
  font-weight: 500;
}
