.l-carousel {
  box-sizing: border-box;
}

.c-carousel {
  width: var(--main-width);
  height: var(--main-carousel-heigth);
  color: var(--main-white);
  position: relative;
}

.c-carousel__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 50%;
  padding: 0 24px;
  box-sizing: border-box;
  z-index: 10;
}

.c-carousel__button {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--main-white);
  border: 1px solid var(--main-white);
}

.c-carousel__img {
  width: 100%;
  height: 100%;
}
.c-carousel__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.c-carousel__title {
  font-size: 2rem;
  font-weight: 600;
  padding: 24px 24px 0 24px;
}

.c-carousel__footer {
  margin-top: 16px;
  font-size: 1.4rem;
  width: 100%;
  padding: 0px 24px 24px 24px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.c-carousel__new {
  border: 2px solid var(--main-yellow);
  border-radius: 4px;
  background-color: #000000;
  color: var(--main-yellow);
  padding: 0 4px;
}

.c-carousel__sub-title {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--main-yellow);
  text-align: center;
  padding: 8px;
  font-size: 1.2rem;
}
