.image-box {
  width: 720px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image-box__upload_webtoon {
  width: 100%;
}
.image-box__comment {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #ffd200;
}

.image-box__name {
  font-size: 1.875rem;
  color: #ffffff;
  position: absolute;
  top: 350px;
  left: 30px;
}

.image-box__event {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: absolute;
  top: 400px;
  left: 20px;
}
.image-box__event__comment-box {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-box__event__comment-box__comment {
  margin-left: 5px;
  font-size: 1.25rem;
}

.image-box__leftbutton {
  position: absolute;
  top: 200px;
  left: 20px;
}

.image-box__rightbutton {
  position: absolute;
  top: 200px;
  left: 650px;
}
.image-box__page-info {
  font-size: 1.56rem;
  color: #ffffff;
  position: absolute;
  top: 410px;
  left: 660px;
}
