footer {
  color: #c0c0c0;
  width: 720px;
  margin: 0 auto;
  margin-top: 10px;
}

footer > button {
  background-color: #fecc2f;
  font-size: 20px;
  border-style: none;
  width: 100%;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__policy {
  display: flex;
  margin-top: 65px;
}

.page-footer__companyInfo {
  display: flex;
}

.page-footer__copyright {
  margin-top: 15px;
}
