.webtoon-card--long {
  display: flex;
  font-size: 16px;
  margin-bottom: 20px;
}

.webtoon-card--long__img-card {
  position: relative;
}

.webtoon-card--long_img {
  width: 85px;
  border-radius: 5px;
}

.clock-bar {
  position: absolute;
  left: 0;
  width: 28px;
  border-radius: 5px 0px 0px 0px;
}

.webtoon-card--long__info {
  margin: 15px 0px 0px 30px;
}

.webtoon-card--long__info img {
  width: 12px;
}
.webtoon-card--long__info-bar,
.webtoon-card--long__serialization {
  color: var(--gray);
  font-size: 0.95rem;
}

.webtoon-card--long__info-bar {
  margin-top: 7px;
}

.webtoon-card--long__serialization {
  margin-top: 30px;
}
