.banner-section {
  background-color: white;
  margin-top: 11px;
  display: flex;
  align-items: center;
}
.banner-button {
  width: 85px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: 20px 50%;
  cursor: pointer;
}
.banner-button-left {
  background-image: url(https://static-page.kakao.com/static/pc/ic-paging-back-nor.svg?2c964bb7a6b07a7941252b32ea13f03c);
}
.banner-button-right {
  background-image: url(https://static-page.kakao.com/static/pc/ic-paging-next-nor.svg?b76f34a1b77e59514735b92464295b7c);
}
.banner-wrapper {
  margin: 20px 0;
  width: 550px;
  height: 100px;
}
.banner-wrapper img {
  width: 100%;
  height: auto;
}
