@charset "utf-8";
:root {
  --main-bg-color: #fff;
  --second-bg-color: #f5f3f3;
  --identity-color: #fecc2e;
  --header-border-color: #DFDFDF;
  --main-text-color : #000;
  --second-text-color: #cfcfcf;
}

body {
  background-color: var(--second-bg-color);
}

.l-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.page-width {
  width: 750px;
  min-width: 750px;
}

.hidden {
  display: none;
}

.full-width {
  width: 100%;
}

.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}

.badge {
  box-sizing: border-box;
  display: inline-block;
  background-color: var(--identity-color);
  border-radius: 50px;
  padding: 6px 7px 2px 7px;
}

.container {
  box-sizing: border-box;
  margin: 10px 0 10px 0;
  padding: 20px;
  width: 100%;
  background-color: var(--main-bg-color);
}
