.container {
  margin: 10px 0 10px;
  padding: 20px;
  width: 100%;
  background-color: var(--second-bg-color);
}

.section__title {
  margin-right: 5px;
  font-size: var(--20px);
  font-weight: var(--thin);
}

.section__total {
  font-size: var(--14px);
}

.section__total, .more {
  color: var(--second-text-color);
}

.more {
  font-size: var(--16px);
}

.border-round {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.font-16 {
  font-size: var(--16px);
}

.font-14 {
  font-size: var(--14px);
}

.main-text-color {
  color: var(--main-text-color);
}

.third-text-color {
  color: var(--third-text-color);
}

.width-half {
  width: calc((var(--page-width) - 50px) / 2);
}

.badge__yellow {
  padding: 0.3em 0.4em 0.2em;
  background-color: var(--identity-color);
  border-radius: 50px;
}

.bar {
  display: block;
  min-width: 1px;
  width: 1px;
}

.btn__toggle:after {
  content: '▾';
  margin-left: 5px;
}