.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  width: 100%;
}

/* header top */
.header__top {
  width: var(--main-width);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.logo {
  font-size: 1.7rem;
  font-weight: 400;
}

.search-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 590px;
}

.search-form {
  border: 1px solid var(--color-grey);
  padding: 5px;
  border-radius: 20px;
  width: 186px;
  height: 35px;
}

.search__input {
  width: 140px;
}

.search__button {
  width: 20px;
  height: 20px;
  color: var(--color-dark-grey);
}

.search__img {
  width: 100%;
  height: 100%;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu > * {
  color: var(--color-dark-grey);
  margin-left: 10px;
}

.header__menu > .divider {
  width: 1px;
  height: 12px;
  background-color: var(--color-grey);
}

/* header navbar */
.header__navbar {
  display: flex;
  justify-content: space-between;
  width: var(--main-width);
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav__subject {
  padding: 10px 15px 10px 15px;
  position: relative;
  cursor: pointer;
}

.alarm::after {
  content: '';
  width: 7px;
  height: 7px;
  background-color: var(--color-yellow);
  border-radius: 100%;
  position: absolute;
  right: 5px;
  top: 5px;
}

.nav__subject.selected {
  border-bottom: 3px solid var(--color-yellow);
}
