@charset "utf-8";
@import url(/fe-kakaopage/src/css/util.css);
@import url(/fe-kakaopage/src/css/sections/index.css);
@import url(/fe-kakaopage/src/css/ui/index.css);
@import url(/fe-kakaopage/src/css/common.css);

:root {
  /*color*/
  --main-bg-color: #eee;
  --second-bg-color: #fff;
  --identity-color: #fecc2e;
  --border-color: #dfdfdf;
  --main-text-color : #333;
  --second-text-color: #999;
  --third-text-color: #9c9c9c;

  /*font-size*/
  --root-size: 16px;
  --font-28px: 1.75rem;
  --font-22px: 1.375rem;
  --font-20px: 1.25rem;
  --font-18px: 1.125rem;
  --font-16px: 1rem;
  --font-14px: 0.875rem;
  --font-12px: 0.75rem;

  /*font-weight*/
  --font-bold: 500;
  --font-semibold: 400;
  --font-thin: 350;

  /*size*/
  --page-width: 720px;
  --border-radius: 10px;
  
}

*{
  box-sizing: border-box;
}

html {
  font-size: var(--root-size);
}

body {
  margin: 0;
  padding-top: 170px;
  background-color: var(--main-bg-color);
}

h1, h2, h3 {
  font-size: 100%;
}

p {
  margin: 0;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
	list-style: none;
}

.page-w {
  width: var(--page-width);
  min-width: var(--page-width);
}