.main {
  width: var(--main-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainbox {
  display: flex;
  background-color: var(--color-white);
  padding: 20px;
  margin: 10px 0 10px 0;
}

/* main navbar */
.main__navbar {
  height: 64px;
  padding: 0;
  cursor: pointer;
  color: var(--color-grey);
  background-color: var(--color-white);
  align-items: center;
  justify-content: space-around;
  margin: 19px 0 0 0;
  font-size: 1.1rem;
}

.nav__category.selected {
  color: var(--color-black);
  font-weight: 600;
}

/* main banner */
.main__banner {
  padding: 0;
  height: 480px;
}

.banner__img {
  width: 100%;
  height: 100%;
}

/* main days */
.main__days {
  justify-content: space-around;
  height: 65px;
  padding: 10px;
  margin: 0;
  color: var(--color-grey);
}

.day__name {
  cursor: pointer;
  padding: 12px;
}

.day__name.whole {
  padding: 12px 5px 12px 5px;
}

.day__name.selected {
  width: 45px;
  height: 45px;
  color: var(--color-black);
  background-color: var(--color-light-yellow);
  border-radius: 50%;
  font-weight: 600;
}

/* main webtoons */
.main__webtoons {
  padding: 10px 20px 10px 20px;
  flex-direction: column;
}

.wt {
  display: flex;
  margin-bottom: 15px;
}

.wt__image {
  width: 142px;
  height: 96px;
  border-radius: 10px;
}

.wt__discription {
  margin-left: 10px;
}

.wt__discription > * {
  margin-bottom: 10px;
}

.wt__discription > .title {
  margin-top: 10px;
  font-weight: 600;
}

.wt__discription > .summary,
.wt__discription > .info {
  font-size: 0.8rem;
  color: var(--color-dark-grey);
}

/* promotion */
.promotion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
}

.promotion__more {
  color: var(--color-dark-grey);
  font-size: 0.9rem;
}

/* main themes */
.main__themes {
  flex-wrap: wrap;
  gap: 3px;
  margin: 0 auto;
}

.theme__name {
  width: 224px;
  background-color: var(--color-light-grey);
  padding: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--color-dark-grey);
}

.theme__info {
  background-color: var(--color-yellow);
  padding: 0 5px 0 5px;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 0.9rem;
}

.theme__name:nth-child(1) {
  border-top-left-radius: 10px;
}

.theme__name:nth-child(3) {
  border-top-right-radius: 10px;
}

.theme__name:nth-child(4) {
  border-bottom-left-radius: 10px;
}

.theme__name:nth-child(6) {
  border-bottom-right-radius: 10px;
}

/* main mini slider */
.main__mini-slider {
  justify-content: space-between;
}

.mini-slider__img {
  width: 550px;
  height: 110px;
}

.mini-slider__btn {
  font-size: 1.8rem;
  color: var(--color-grey);
}
