@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";

body {
  background-color: #eee;
}
.container {
  width: 720px;
  margin: 0 auto;
}
.app-download {
  height: 70px;
  margin-top: 11px;
}
.app-download img {
  height: auto;
}
.vertical-center {
  display: flex;
  align-items: center;
}
