.header {
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height: 120px;
  width: 100%;
  z-index: 2;
}
.header__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 720px;
  height: 75%;
}
.header__titleLogo {
  font-size: 25px;
}
.header__titleSearch {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 200px;
  border: 1px solid #e2e2e2;
  color: #222f3e;
  font-size: 12px;
  padding: 3px;
  width: 140px;
  height: 15px;
  border-radius: 12px;
}
.header__titleSearch input {
  width: 80%;
  height: 100%;
  border: none;
}
.header__titleSearch input:focus-visible {
  outline: none;
}
.header__titleMenus {
  display: flex;
}
.header__titleMenus .titleMenus {
  padding: 0px 10px;
}
.stage {
  padding: 4px;
  position: relative;
}
.stage .stage-arrow {
  position: absolute;
  top: 21px;
  left: 28px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
.stage .stage-span {
  cursor: pointer;
  background-color: #feb22e;
  padding: 2px;
  font-weight: bold;
  font-size: 15px;
}
.stage .stage-popup {
  position: absolute;
  text-align: center;
  top: 26px;
  left: -20px;
  width: 100px;
  padding: 4px;
  font-size: 10px;
  color: #eeeeee;
  border-radius: 4px;
  background-color: black;
}
.header__titleMenus .menu {
  cursor: pointer;
  font-size: 15px;
  color: #999999;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  width: 720px;
  height: 25%;
  font-size: 16px;
}
.header__nav-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 120px;
}
.header__nav .selected {
  border-bottom: 3px solid #ffd200;
}
.yellow-dot {
  margin-left: 5px;
  width: 5px;
  height: 5px;
  background-color: #ffd200;
  border-radius: 3px;
}
