.page-app-link {
    width: 720px;
    height: 70px;
    background-color: #FECC2E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.page-app-link span {
    font-size: 15pt;
    font-weight: bold;
}

.page-app-link img {
    margin: 0 10px;
    height: 20px;
}
