.recommand-event__banner {
    margin: 20px;
    width: 680px;
    height: 340px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.recommand-event__banner img {
    width: 100%;
    height: 100%;
}

.recommand-event__controller {
    position:absolute;
    bottom:25px;
    left: 20px;
    display: flex;   
    height: 30px; 
    font-size: 18pt;
    color: white;
    opacity: 0.6;
}

.recommand-event-btn {
    height: 20px;
    margin: 0px 10px;
}

