@charset "utf-8";
/* 메뉴 버튼 */
.menubar_tag {
  margin-top: 15px;
  background-color: var(--main-color);
}
.menubar_tag button {
  width: calc(100% / 10);
  height: 30px;
  margin: 10px 5px 10px 5px;
  padding: 3px;
  background-color: var(--main-color);
  font-weight: var(--font-bold);
  border: 0;
}
/* 큰 광고 이미지 */
.image_text {
  top: 310px;
  width: 100%;
  text-align: left;
}
.image_title {
  color: var(--white-color);
}
.image_event {
  border: 2px solid var(--yellow-color);
  border-radius: 5px 5px 5px 5px;
  background: var(--block-color);
  color: var(--yellow-color);
  margin-left: 35px;
  font-weight: var(--font-bold);
  padding: 3px;
}
.image_span {
  font-weight: var(--font-bold);
  font-size: var(--font-size-XL);
  color: var(--white-color);
}
.image_footer {
  top: 405px;
  background-color: var(--yellow-color);
  font-weight: var(--font-max-bold);
  width: 100%;
  border-radius: 0px 0px 15px 15px;
}
.image_box {
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  height: 440px;
  width: 660px;
}
.image_container {
  position: absolute;
  height: 440px;
  width: 660px;
  left: -660px;
  white-space: nowrap;
}
.image_element {
  text-decoration: none;
  width: 660px;
  height: 440px;
  display: inline-block;
}
.num_total {
  top: 83%;
  right: 2%;
  font-size: var(--font-size-XL);
  font-weight: var(--font-max-bold);
  color: var(--red-color);
  z-index: 10;
}
/* 박스 메뉴 */
.menu_ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-top: 5px;
}
.menu_ul li {
  width: calc(99% / 3);
  height: 60px;
  font-weight: var(--font-max-bold);
  border: 2px solid var(--white-color);
}
.menu_ul li span {
  position: relative;
  top: 18px;
}
.menu_ul li div {
  position: relative;
  width: max-content;
  border-radius: 10px 10px 10px 10px;
  background-color: var(--yellow-color);
  padding: 0px 3px 3px 3px;
  top: -3px;
  left: 68%;
  height: 21px;
}
.menu_top_left {
  border-radius: 10px 0px 0px 0px;
}
.menu_top_right {
  border-radius: 0px 10px 0px 0px;
}
.menu_bottom_left {
  border-radius: 0px 0px 0px 10px;
}
.menu_bottom_right {
  border-radius: 0px 0px 10px 0px;
}
/* 광고 */
.advert {
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
.back {
  top: 50%;
  left: 2%;
  font-size: var(--font-size-XL);
  background-color: var(--white-color);
  cursor: pointer;
}
.next {
  top: 50%;
  right: 2%;
  font-size: var(--font-size-XL);
  background-color: var(--white-color);
  cursor: pointer;
}
/* 공통된 섹션 */
.section {
  flex-flow: row wrap;
  background-color: var(--main-color);
  padding: 10px 15px 15px 15px;
}
/* 소제목 및 더보기 */
.section_title,
.more_content {
  font-size: var(--font-size-XL);
  font-weight: var(--font-max-bold);
}
.section_title span {
  font-size: var(--font-size-XS);
  font-weight: var(--font-semi-bold);
  margin-left: 5px;
}
/* 요일연재 */
.date {
  width: 100%;
}
.date ul li {
  width: 100%;
  font-size: var(--font-size-L);
  font-weight: var(--font-max-bold);
  cursor: pointer;
}
/* 웹툰 5개 소개 */
.five_webtoon {
  width: calc(100% / 5);
}
.five_webtoon > span:nth-child(2) {
  color: #ffff00;
  position: absolute;
  top: 90px;
  width: 40px;
  left: 5px;
  font-size: var(--font-size-S);
  z-index: 10;
}
.five_webtoon > span:nth-child(3) {
  position: absolute;
  width: 110px;
  top: 90px;
  text-align: right;
  background-color: var(--block-color);
  border-radius: 0px 0px 15px 15px;
}
.info_top div {
  width: 110px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-XXS);
  font-weight: var(--font-max-bold);
}
.info_top span {
  color: var(--red-color);
}
.info_top > div:nth-child(2) {
  padding-bottom: 10px;
}
/* 기대신작 */
.new_thing {
  width: calc(96% / 2);
  margin-left: 12px;
}
.new_things_text {
  top: 60%;
  color: var(--white-color);
}
.new_things_title {
  padding-left: 10px;
}
.new_things_new {
  border-radius: 5px 5px 5px 5px;
  background: var(--block-color);
  color: var(--yellow-color);
  padding-bottom: 3px;
}
.new_things_footer {
  top: 195px;
  background-color: var(--yellow-color);
  padding: 3px;
  font-weight: var(--font-max-bold);
  width: 302.4px;
  border-radius: 0px 0px 5px 5px;
}
/* 기다리면 무료 */
.wait_contents > img:nth-child(2) {
  position: absolute;
  top: 0px;
}
.info_contents {
  top: 10px;
  left: 22%;
  font-weight: var(--font-bold);
  padding: 5px;
}
.info_contents div {
  text-align: left;
}
.info_contents span {
  color: var(--red-color);
}
/* 일간 랭킹 */
.ranking {
  padding-left: 30px;
}
.ranking_num {
  left: 0px;
  top: 50px;
  font-size: var(--font-size-XL);
  font-weight: var(--font-bold);
  color: var(--block-color);
}
.ranking > img:nth-child(3) {
  position: absolute;
  top: 0px;
}
.info_ranking {
  top: 15px;
  left: 21%;
  font-weight: var(--font-bold);
  padding: 3px;
}
.info_ranking > div:nth-child(1),
.info_ranking > div:nth-child(2) {
  text-align: left;
  margin-bottom: 3px;
}
.info_ranking > div:nth-child(3) {
  text-align: left;
  margin-bottom: 3px;
  margin-top: 20px;
}
.info_ranking span:nth-child(1) {
  color: var(--blue-color);
}
/* 카카오페이지 바로가기 */
.app_section {
  margin-top: 20px;
  background-color: var(--yellow-color);
}
.app_section img {
  margin: 0px auto;
}
