<article class="article__weekdays">
    <div class="section__book-wrapper">
        <section class="section__book">
            <div class="section__book-image-wrapper">
                <img src="./images/학사재생.png" alt="">
                <div class="section__book-image-infor">
                    <p>1위</p>
                    <i class="fas fa-solid fa-clock"></i>
                </div>
            </div>
            <div class="section__book-text-container">
                <p>어쩌고 저쩌고</p>
                <p><i class="fas fa-user-alt"></i> 28.5만명</p>
            </div>
        </section>
        <section class="section__book">
            <div class="section__book-image-wrapper">
                <img src="./images/학사재생.png" alt="">
                <div class="section__book-image-infor">
                    <p>1위</p>
                    <i class="fas fa-solid fa-clock"></i>
                </div>
            </div>
            <div class="section__book-text-container">
                <p>어쩌고 저쩌고</p>
                <p><i class="fas fa-user-alt"></i> 28.5만명</p>
            </div>
        </section>
        <section class="section__book">
            <div class="section__book-image-wrapper">
                <img src="./images/학사재생.png" alt="">
                <div class="section__book-image-infor">
                    <p>1위</p>
                    <i class="fas fa-solid fa-clock"></i>
                </div>
            </div>
            <div class="section__book-text-container">
                <p>어쩌고 저쩌고</p>
                <p><i class="fas fa-user-alt"></i> 28.5만명</p>
            </div>
        </section>
        <section class="section__book">
            <div class="section__book-image-wrapper">
                <img src="./images/학사재생.png" alt="">
                <div class="section__book-image-infor">
                    <p>1위</p>
                    <i class="fas fa-solid fa-clock"></i>
                </div>
            </div>
            <div class="section__book-text-container">
                <p>어쩌고 저쩌고</p>
                <p><i class="fas fa-user-alt"></i> 28.5만명</p>
            </div>
        </section>
        <section class="section__book">
            <div class="section__book-image-wrapper">
                <img src="./images/학사재생.png" alt="">
                <div class="section__book-image-infor">
                    <p>1위</p>
                    <i class="fas fa-solid fa-clock"></i>
                </div>
            </div>
            <div class="section__book-text-container">
                <p>어쩌고 저쩌고</p>
                <p><i class="fas fa-user-alt"></i> 28.5만명</p>
            </div>
        </section>
        <section class="section__book">
            <div class="section__book-image-wrapper">
                <img src="./images/학사재생.png" alt="">
                <div class="section__book-image-infor">
                    <p>1위</p>
                    <i class="fas fa-solid fa-clock"></i>
                </div>
            </div>
            <div class="section__book-text-container">
                <p>어쩌고 저쩌고</p>
                <p><i class="fas fa-user-alt"></i> 28.5만명</p>
            </div>
        </section>
    </div>
</article>