<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="weekdays.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
</head>
<body>
    <nav class="nav__weekdays">
        <ul class="nav__weekdays-lists">
            <li class="nav__weekdays-list active"><a href="#">월</a></li>
            <li class="nav__weekdays-list"><a href="#">화</a></li>
            <li class="nav__weekdays-list"><a href="#">수</a></li>
            <li class="nav__weekdays-list"><a href="#">목</a></li>
            <li class="nav__weekdays-list"><a href="#">금</a></li>
            <li class="nav__weekdays-list"><a href="#">토</a></li>
            <li class="nav__weekdays-list"><a href="#">일</a></li>
            <li class="nav__weekdays-list"><a href="#">완결</a></li>
        </ul>
    </nav>
</body>
</html>