<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="weekdays.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
</head>
<body>
    <nav class="nav__clasify">
        <div class="nav__clasify-buttons-wrapper">
            <button class="nav__clasify-button">
                전체
            </button>
            <button class="nav__clasify-button">
                웹툰
            </button>
            <button class="nav__clasify-button">
                <i class="fas fa-solid fa-clock"></i>
                웹툰
            </button>
        </div>

        <div class="nav__clasfify-toggle-wrapper">
            <button class="nav__clasify-toggle">
                전체 (138)
                <i class="fas fa-solid fa-arrow-down"></i>
            </button>
        </div>
    </nav>
</body>
</html>