.nav__weekdays {
    width: 720px;
    height: 70px;
    margin: 0;
}

.nav__weekdays-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 5px;
    text-align: center;
    font-size: 24px;
    list-style: none;
}

.nav__weekdays-list {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
}

.nav__weekdays-list.active {
    background-color: var(--sub-color);
}