.nav__clasify {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 720px;
    height: 70px;
    margin-top: 3px;
    background-color: #fff;
}

.nav__clasify-buttons-wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
}

.nav__clasify button {
    font-size: 24px;
    border: none;
    background-color: #fff;
}