
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: #fff;
}

.header__tittle-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 720px;
}

.header__button-wrapper {
    display: flex;
    align-items: center;
}

.header__search-wrapper {
    position: relative;
}

.header__search-wrapper i {
    position: absolute;
    left: 155px;
    top: 7px;
    font-size: 18px;
    color:  6482B9;
}

.header__search {
    width: 180px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 15px;
    font-size: 24px;
}

.header__search:focus {
    outline: none;
}

.header__button {
    background-color: #fff;
    border: none;
    margin: 3px;
    font-size: 15px;
    color: 6482B9;
}

.header__nav-lists {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 720px;
    padding: 0;
    font-size: 20px;
    list-style: none;
    color: black;
}


.aside__banner {
    position: relative;
    width: 720px;
    height: 470px;
    padding: 0;
}

.aside__banner i{
    position: absolute;
    font-size: 40px;
    color: white;
    background-color: none;
}

#banner-left-icon {
    left: 20px;
    top: 200px;
    z-index: 1;
}

#banner-right-icon {
    left: 650px;
    top: 200px;
    z-index: 1;
}

/* .aside__banner-inner-wrapper {
    width: 720px;
    height: 50px;
    background-color: red;
} */
.aside__banner img {
    width: 720px;
    height: 440px;
    margin-bottom: 0;
}

.aside__banner-slider {
    position: absolute;
    width: 720px;
    height: 460px;
    overflow: hidden;
    /* transform: translateX(-720px); */
}

.aside__banner-slide-list {
    display: flex;
    /* transform: translateX(-500px); */
    transition: transform 0.3s ease-in-out;
}



.aside__banner-tittle-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 310px;
    width: 360px;
    height: 70px;
}

.aside__banner-tittle {
    margin: 0 0 5px 10px;
    font-size: 28px;
    color: #fff;
}

.aside__banner-lists-wrapper { 
    position: absolute;
    top: 370px;
    width: 360px;
    height: 50px;
    font-size:15px;
    color: #fff;
}

.aside__banner-lists {
    display: flex;
    align-items: center;
    padding-left: 10px;
    list-style: none;
}

.aside__banner-lists li {
    margin-right: 70px;
}

.aside__banner-lists i {
    margin-right: 50px;
    font-size: 24px;
}

.aside__banner-footer {
    position: absolute;
    top: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 720px;
    height: 40px;
    background-color: var(--sub-color);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 720px;
    height: 250px;
    margin-top: 15px;
}

.footer__toApp-button {
    height: 70px;
    background-color: var(--sub-color);
    border: none;
    font-size: 24px;
}

.footer__infor-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__infor-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 14px;
    color: grey;
}

.footer__infor-text {
    margin-top: 5px;
}

.footer__infor-image-wrapper img {
    width: 60px;
}