.section {
  width: 720px;
  padding: 160px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.section > * {
  width: 720px;
  margin: 11px 0 0 0;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
}
/* 웹툰장르바 */
.webtoonGenreBar {
  height: 67px;
  display: flex;
  background: #ffffff;
}
.webtoonGenreBar > * {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.webtoonGenreBar > * {
  font-size: 20px;
  color: #999;
  font-weight: bold;
  cursor: pointer;
}
.genreHome {
  width: 52.8px;
  color: #000;
}
.weekday,
.action {
  width: 108px;
}
.webtoon,
.boy,
.romanticFantasy {
  width: 73px;
}
.drama,
.romance {
  width: 90px;
}
.bl {
  width: 58px;
}
.event {
  height: 520px;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.eventSlideWrap {
  width: 720px;
  display: flex;
}
.slideMoveBtn {
  position: absolute;
  width: 680px;
  top: 240px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.slideMoveBtn > * {
  color: #eee;
}
.slideNum {
  position: absolute;
  display: flex;
  bottom: 90px;
  right: 50px;
  z-index: 12;
}
.slideNum > * {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  opacity: 0.6;
}
.eventSlideBox {
  height: 480px;
}
.eventSlide {
  height: 440px;
  width: 720px;
  background-image: url("../images/소설\ _\ 그\ 악녀가\ 검을\ 든\ 이유\ 2타\ _\ 10-24.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 20px;

  /* position: relative; */
}

.eventSlideInfo {
  height: 75px;
}
.eventTitle {
  height: 28px;
  margin: 6px 0 0;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}
.eventInfoWrap {
  height: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 12px 0 0;
}
.eventLeft {
  display: flex;
  margin: 12px 0 0;
}
.eventLeft > *,
.expectToonInfoWrap > * {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
.eventStatusWrap {
  display: flex;
  align-items: center;
}
.eventStatus {
  width: 53px;
  height: 22px;
  background-size: cover;
  margin: 0 10px 0 0;
}
.clock {
  color: #ffffff;
  margin: 0 4px 0 0;
}
.eventGenreInfo {
  margin: 0 1px 0 0;
}
.eventSlash {
  margin: 0 8px;
}
.readCountEvent {
  margin: 1px 0 0;
}
.eventFollow {
  margin: 0 0 1px 4px;
}

.imgCopyWrap {
  height: 40px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffd200;
}
.imgCopy {
  font-size: 18px;
  font-weight: bold;
}
.eventButtons {
  height: 161px;
  flex-wrap: wrap;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 20px;
}
.eventButtons > * {
  width: 220px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #ffffff;
}

.todayUp {
  border-radius: 10px 0 0 0;
}
.original {
  border-radius: 0 10px 0 0;
}
.straightRun {
  border-radius: 0 0 0 10px;
}
.todayLanking {
  border-radius: 0 0 10px 0;
}

.countNew {
  min-width: 24px;
  height: 24px;
  border-radius: 33px;
  background-color: #ffd200;
  margin: 0 0 0 10px;
}
/* .todayNew {
      margin: 0 2px 0 2px;
    } */
/* .original {
      border-radius: 0 10px 0 0;
    } */
.waitForFreeWebtoon {
  height: 534px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
}
.contentTop {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.copyAndCount {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.sectionTitle {
  font-size: 20px;
  margin: 0 5px 0 0;
}
.sectionCount {
  font-size: 14px;
  color: #999;
}
.moreLink {
  text-decoration: none;
  color: #999;
  font-weight: bold;
}
.waitForFreeWebtoonCopy {
  font-size: 20px;
  height: 28px;
  line-height: 28px;
}

.content {
  display: flex;
  margin: 20px 0 20px 0;
}
.contentImageWrap {
  width: 142px;
  height: 96px;
  position: relative;
  display: flex;
}
.contentImage {
  background-size: cover;
  border-radius: 6px;
}
.contentImageStatus {
  position: absolute;
  z-index: 1;
  border-radius: 6px 0 0 0;
}
.waitFreeImageStatus {
  width: 26px;
  height: 26px;
}
.contentDetailWrap {
  width: 540px;
  height: 96px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.status {
  display: flex;
  align-items: center;
}
.statusIcon {
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
}
.contantTitle {
  font-size: 16px;
  font-weight: bold;
}
.synopsis {
  font-size: 14px;
  color: #999;
  font-weight: bold;
}
.followAndCreator {
  display: flex;
  font-size: 14px;
  color: #999;
  font-weight: bold;
  align-items: center;
}
.readCount {
  width: 11px;
  height: 11px;
  margin: 0 3px 0 0;
}
.contentSlash {
  margin: 0 3px 0 3px;
}
.slideAd {
  height: 140px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.slideBtn {
  width: 85px;
  height: 100px;
}
.slideAdImg {
  width: 550px;
  height: 100px;
  border-radius: 5px;
}
.weekdayTop {
  height: 606px;
  background-color: #ffffff;
}
.weekdayTopWeekInfo {
  width: 680px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0 0 0;
}
.weekdayTopWeekInfo > * {
  width: 85px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: #999;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}
.monday {
  border-bottom: 3px solid #ffd200;
  color: black;
}
.weekdayContentWrap {
  width: 100%;
  height: 436px;
  margin: 20px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.toonContent {
  width: 120px;
  height: 208px;
  border-radius: 8px;
}
.toonContentTop {
  width: 100%;
  height: 120px;
}
.contentImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 8px 8px 0 0;
}
.contentLank {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  padding: 0 8px;
  justify-content: space-between;
  background-color: #242526;
  border-radius: 0 0 8px 8px;
}
.contentLankInfo {
  color: #ffd200;
  font-size: 16px;
}
.contentInfo {
  height: 20px;
}
.contentInfo > * {
  margin: 0 2px 0 2px;
}
.contentClock {
  width: 16px;
  height: 16px;
}
.contentStatus {
  width: 16px;
  height: 16px;
  background-size: cover;
  margin: 0 2px 0 0;
}
.contentCount {
  width: 11px;
  height: 11px;
}
.contentFollow {
  line-height: 20px;
  font-size: 14px;
  color: #999;
  font-weight: bold;
}
.expectedWebtoon {
  height: 313px;
  background: #ffffff;
}
.expectToonContentWrap {
  height: 223px;
  display: flex;
  justify-content: space-between;
}
.expectToonContentWrapper {
  height: 223px;
}
.expectToonContent {
  width: 335px;
  height: 200px;
  background-size: cover;
  border-radius: 6px 6px 0 0;
}
.expectToonInfo {
  height: 50px;
}
.expectToonTitle {
  height: 18px;
  font-size: 18px;
  margin: 4px 0 0;
}
.expectToonInfoWrap {
  height: 20px;
  justify-content: left;
}
.expectToonInfoWrap > * {
  height: 20px;
  font-size: 14px;
}
.expectStatus {
  width: 40px;
  height: 16px;
}
.expectToonClock {
  width: 12px;
  height: 12px;
}
.readCountExpectToon {
  width: 10px;
  height: 12px;
}
.expectToonSlash {
  margin: 0 8px;
  font-weight: 100;
}
.expectToonCopyWrap {
  width: 100%;
  height: 24px;
  border-radius: 0 0 6px 6px;
}
.genreTop {
  height: 300px;
  background-color: #ffffff;
}
.toonContentWrap {
  display: flex;
  height: 228px;
  justify-content: space-around;
  margin: 20px 0 0 0;
}
.dayRankingTop {
  height: 480px;
  background-color: #ffffff;
}
.dayRankingTopTop {
  margin: 0 0 20px 0;
}
.dayRankingContentWrap {
  height: 134px;
  display: flex;
  box-sizing: border-box;
  padding: 10px 0;
}
.rankingNumWrap {
  width: 35px;
  height: 100%;
}
.rankingNum {
  font-size: 22px;
  font-weight: 1000;
}
.dayRankingImageWrap {
  width: 84px;
  height: 114px;
  position: relative;
  display: flex;
}
.dayRankingImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 6px;
}
.dayRankingDataWrap {
  height: 114px;
  margin: 0 0 0 20px;
}
.dayRankingStatus {
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
  background-size: cover;
}
.dayRankingTitle {
  font-weight: bold;
}
.dayRankingInfo > *,
.dayRankingUpdateDay {
  color: #999;
  font-weight: bold;
  font-size: 14px;
}
.dayRankingUpdateDay {
  margin: 22px 0 0 0;
}
.recommendEventWrap {
  height: 420px;
  background-color: #ffffff;
  margin: 11px 0 0;
}
.recommendEventTop {
  margin: 0px 20px 22px 20px;
}
.recommendEventImage {
  width: 678px;
  height: 339px;
  margin: 0.5px 0;
  background-image: url("/FE/FE01-html/images/_진격의\ 거인_\ 정주행\ 프로모션\ \(2_14_2_28\).png");
  background-size: cover;
  border-radius: 6px;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
}
.recommendEventController {
  height: 27px;
  position: absolute;
  left: 20px;
  bottom: 27px;
}
.recommendEventPrevBtn,
.recommendEventNextBtn {
  width: 30px;
  background-size: cover;
  height: 16px;
}

.recommendEventCount {
  width: 35px;
  height: 100%;
  color: #eee;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.5;
}
.gotoApp {
  width: 720px;
  height: 70px;
  padding: 0;
  background: #ffd200;
  margin: 20px 0;
}
.gotoAppImg {
  width: 504px;
  background-size: contain;
}
