footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  height: 100px;
  color: #bdbdbd;
}
.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-right img {
  width: 55px;
}
.footer-right span {
  margin-top: 5px;
  font-size: 5px;
}
.footer-box {
  display: flex;
  margin: 10px 0px;
}
.footer-box span {
  margin: 0px 2px;
}
footer details {
  width: 180px;
}
footer details summary {
  margin-bottom: 5px;
}
footer details ul {
  display: flex;
  flex-direction: column;
  width: 720px;
}
footer details ul li {
  margin: 3px 0px;
}
