div.freeComics>div.HomeHeader{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:5px;
}
div.ifYouWait{

}
div.More{
    opacity:0.4;
}
div.ifYouWait>span:first-child{
    font-size:18px;
    font-weight:500;
}
div.ifYouWait>span:last-child{
    font-size:15px;
    opacity:0.4;
}
.freeComics>.weekdays{
    display:flex;
    justify-content: space-between;

}
.weekdays>li{
    font-size:20px;
    padding:15px 0;
    flex:1;
    transition:all 0.1s linear;
    cursor:pointer;
    text-align: center;
    color: #bbbbbb;
    border-bottom: 1px solid #f1f1f1;
}


.weekdays>.day{
    border-bottom:1px solid #f1f1f1;/
}
.weekdays>.selected{
    border-bottom: 2px solid #ffd200;
    color:#333333
}
.weekdays>.selected>div{
    color:#333333;
}