.main {
  margin-top: 140px;
  width: 720px;
}

.mainBox {
  background-color: #ffffff;
  width: 100%;
  margin: 10px 0px;
}

.main__nav-genre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #bbbbbb;
  font-size: 17px;
  font-weight: 500;
  height: 60px;
}
.nav-genre-item {
  cursor: pointer;
}
.nav-genre-item:nth-child(1) {
  color: #333333;
}

.main__main-banner {
  height: 400px;
}
.main__main-banner .banner__imgBox {
  position: relative;
  height: 360px;
}
.main__main-banner .imgBox__info {
  position: absolute;
  left: 20px;
  bottom: 10px;
  color: #ffffff;
}
.info-event {
  background-color: black;
  border: 1px solid #fecc2e;
  border-radius: 4px;
  color: #fecc2e;
  font-weight: 600;
  padding: 0px 4px;
  margin-right: 2px;
}
.info-title {
  font-size: 22px;
  margin-bottom: 10px;
}
.info-body {
  font-size: 15px;
  margin-bottom: 5px;
}
.main__main-banner .imgBox__order {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 17px;
  font-weight: 600;
  color: #bbbbbb;
}
.banner__imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.main__main-banner .banner__message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: #fecc2e;
  color: #333333;
  height: 40px;
}

.main__contents {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.main__button {
  display: flex;
  height: 70px;
  width: 100%;
}

.main__button button {
  cursor: pointer;
  font-size: 19px;
  width: 100%;
  background-color: #fecc2e;
  border: none;
}

.main__nav-detail {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_detailBox {
  display: flex;
  width: 680px;
  height: 50px;
  margin: 1px;
}

.detailBox {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  color: #3a3a3a;
  width: 33%;
  height: 100%;
  margin: 1px;
  font-size: 15px;
  font-weight: 500;
}

.detailBox .detailNum {
  margin-left: 5px;
  background-color: #fecc2e;
  padding: 2px 6px;
  border-radius: 10px;
}

.border_top_left {
  border-top-left-radius: 9px;
}
.border_top_right {
  border-top-right-radius: 9px;
}
.border_bottom_left {
  border-bottom-left-radius: 9px;
}
.border_bottom_right {
  border-bottom-right-radius: 9px;
}

.main__sub-banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
}

.subImg {
  width: 65%;
  border-radius: 5px;
}
.arrow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 9px;
  border-radius: 20px;
  font-size: 25px;
  color: #808e9b;
  border: 1px solid #bbbbbb;
}
