.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main {
  margin-top: 140px;
  width: 720px;
}

.mainBox {
  background-color: #ffffff;
  width: 100%;
  margin: 10px 0px;
}

.mainNav {
  height: 60px;
}

.main__navGenre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #bbbbbb;
  font-size: 17px;
  font-weight: 500;
}
.navGenre-item {
  cursor: pointer;
}
.main__navGenre .selected {
  color: #333333;
}

.main__mainBanner {
  position: relative;
  cursor: pointer;
  width: 720px;
  height: 480px;
}
.contents .main__mainBanner {
  height: auto;
}

.banner__imgBox {
  position: relative;
}

.bigCard .banner__imgBox {
  height: 90%;
}

.imgBox__info {
  position: absolute;
  color: #ffffff;
}
.main__mainBanner .imgBox__info {
  left: 20px;
  bottom: 60px;
}
.bigCard .imgBox__info {
  left: 15px;
  bottom: 5px;
}
.info-event {
  background-color: black;
  border: 1px solid #fecc2e;
  border-radius: 4px;
  color: #fecc2e;
  font-weight: 600;
  padding: 0px 4px;
  margin-right: 2px;
}
.infoTitle {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}
.infoBody {
  font-size: 15px;
  margin-bottom: 5px;
}
.main__mainBanner .imgBox__order {
  position: absolute;
  bottom: 60px;
  right: 20px;
  font-size: 17px;
  font-weight: 600;
  color: #bbbbbb;
}

.banner__imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.bigCard .banner__imgBox img {
  border-radius: 10px 10px 0px 0px;
}

.banner__message {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fecc2e;
  color: #333333;
}
.main__mainBanner .banner__message {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 15px;
  height: 40px;
}
.bigCard .banner__message {
  font-size: 12px;
  height: 10%;
  border-radius: 0px 0px 10px 10px;
}

.main__button {
  display: flex;
  height: 70px;
  width: 100%;
}

.main__button button {
  cursor: pointer;
  font-size: 19px;
  width: 100%;
  background-color: #fecc2e;
  border: none;
}

.main__navDetail {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_detailBox {
  display: flex;
  width: 680px;
  height: 50px;
  margin: 1px;
}

.detailBox {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  color: #3a3a3a;
  width: 33%;
  height: 100%;
  margin: 1px;
  font-size: 15px;
  font-weight: 500;
}

.detailBox .detailNum {
  margin-left: 5px;
  background-color: #fecc2e;
  padding: 2px 6px;
  border-radius: 10px;
}

.border-top-left {
  border-top-left-radius: 9px;
}
.border-top-right {
  border-top-right-radius: 9px;
}
.border-bottom-left {
  border-bottom-left-radius: 9px;
}
.border-bottom-right {
  border-bottom-right-radius: 9px;
}

.main__subBanner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
}

.subImg {
  cursor: pointer;
  width: 65%;
  border-radius: 5px;
}
.arrow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 9px;
  border-radius: 20px;
  font-size: 25px;
  color: #808e9b;
  border: 1px solid #bbbbbb;
}

.main__contents {
  display: flex;
  flex-direction: column;
}

.contents {
  margin: 20px 15px;
}
.contents__header {
  display: flex;
  justify-content: space-between;
  height: 40px;
}
.contents__header .contents__title {
  font-size: 16px;
  font-weight: 500;
}

.contents__title > .titleNum {
  font-size: 13px;
  color: #bbbbbb;
}

.contents__more {
  cursor: pointer;
  font-size: 14px;
  color: #999999;
}
.contents__body {
  display: flex;
  flex-direction: column;
}
.contents__daysNav {
  display: flex;
  justify-content: space-around;
  height: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #bbbbbb;
}

.contents__daysNav li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  border-bottom: 2px solid #f1f1f1;
}
.contents__daysNav .selected {
  color: #333333;
  border-bottom: 2px solid #ffd200;
}
.contentsCard {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.contentsCard .card {
  cursor: pointer;
  width: 18%;
  height: 190px;
  margin: 3px;
  padding: 3px;
}

.card__imgBox {
  border-radius: 10px;
  background-color: #242526;
  height: 150px;
}
.cardImg {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 120px;
  object-fit: fill;
}
.card .imgInfo {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 5px;
  margin: 0px 5px;
  color: #808e9b;
}
.imgInfo .rank {
  color: #ffd200;
}
.card__title {
  font-size: 15px;
  margin: 9px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card__info {
  font-size: 5px;
}

.card__info .info-status {
  border-radius: 2px;
  padding: 1px 2px;
  color: #f1f1f1;
}

.card__info .info-age {
  border-radius: 2px;
  padding: 1px 2px;
  background-color: #bbbbbb;
  color: #f1f1f1;
}
.card__info .info-user {
  color: #999999;
}
.card__info .info-user i {
  margin-right: 3px;
}
.card__info .info-user span {
  font-size: 12px;
}

.contentsBigCard {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bigCard {
  width: 50%;
  height: 223px;
  padding: 5px;
}
.bigCard .infoTitle {
  font-size: 18px;
}
.bigCard .info-event,
.info-category,
.info-users {
  font-size: 12px;
}

.contentsBigCard {
  height: 100%;
}

.contentRow {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.contentRow div {
  margin: 9px;
}
.contentRow .dateRank {
  font-size: 20px;
  font-weight: 700;
}
.contentRow .contentImgBox {
  position: relative;
  width: 70px;
}
.contentImgBox .content-waitFreeIcon {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 3px;
  font-size: 15px;
  color: #fecc2e;
  background-color: rgba(0, 0, 0, 0.8);
  border-top-left-radius: 5px;
}
.contentImgBox img {
  width: 100%;
  border-radius: 5px;
}
.contentInfo {
  display: flex;
  flex-direction: column;
  color: #999999;
}
.contentInfo .infoBody,
.contentInfo .info__titleInfo {
  margin: 3px 9px;
}

.contentInfo .info__titleInfo {
  color: #333333;
  font-size: 14px;
}
.contentInfo .infoBody {
  font-size: 12px;
}
.info__title-status {
  font-size: 12px;
  padding: 1px 3px;
  color: #f3f3f3;
  border-radius: 2px;
}
.info__title-age {
  font-size: 12px;
  background-color: #999999;
  padding: 1px 2px;
  color: #f3f3f3;
  border-radius: 1px;
}
.contents .imgBox__order {
  left: 20px;
  bottom: 30px;
  opacity: 0.6;
}
