.main-contents {
    margin-top:50px;
  }
  .main-nav {
    box-sizing: border-box;
    margin: 0;
    top:80px;
    border-bottom: 1px solid #dfdfdf;
    width:100%;
    background-color:#fff;
  }
  .main-position {
    position: fixed;
    z-index: 199;
  }
  ul {
    list-style-type:disc;
    margin-block-start:1em;
    margin-block-end:1em;
    margin-inline-start:0px;
    margin-inline-end:0px;
    padding-inline-start:40px;
  }
  .main-ul {
    display:flex;
  
    box-sizing:border-box;
    min-width:0px;
    visibility:visible;
    padding:0px;
    margin:0px auto;
    width:720px;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .main-list {
    box-sizing: border-box;
    
    margin:0;
    min-width:0;
    list-style:none;
    position:relative;
    border-bottom-color: #ffd200;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    
    flex: 1 1 auto;
    padding: 30px 0 15px;
  }