@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";
@import "carousel.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  width: 100%;
}

.span-bar {
  color: #e2e2e2;
  font-weight: 400;
}

.blue {
  background-color: #2e86de;
}
.red {
  background-color: #eb3b5a;
}

footer {
  width: 720px;
}

b {
  font-weight: bold;
}
