.subAdBanner,
.mainAdBanner {
  margin-top: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.mainAdBanner__info {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.mainAdBanner__img {
  width: 720px;
}

.mainAdBanner__title,
.mainAdBanner__user {
  display: flex;
  align-items: flex-start;
  color: white;
  margin: 8px 20px;
}

.mainAdBanner__user {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.mainAdBanner__webtoon {
  font-weight: bold;
  font-size: 20px;
}

.mainAdBanner__subtitle {
  margin-top: 20px;
  background-color: #ffd200;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.mainAdBanner__status {
  margin-left: 20px;
  display: flex;
  color: white;
  align-items: center;
}

.mainAdBanner__status__seperator {
  margin: 0px 7px;
  height: 16px;
  width: 2px;
}

.mainAdBanner__status__person {
  margin: 0;
}

.mainAdBanner__user {
  margin-left: 5px;
}

.mainAdBanner__back_btn {
  position: absolute;
  left: 0px;
  top: 200px;
}

.mainAdBanner__next_btn {
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 200px;
}

.badge_up {
  margin-right: 10px;
}

.mainAdBanner__page {
  font-size: 25px;
  position: absolute;
  right: 20px;
  opacity: 0.3;
}
