header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 3;
}

.inner {
  width: 720px;
  margin: 0 auto;
}

.page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page_header__searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page_header__searchBar > button,
.searchBar__stage > button {
  background-color: transparent;
  border-style: none;
  font-size: 17px;
  color: #acacac;
}

.searchBar__stage > button:first-child {
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  position: relative;
  z-index: 2;
}

.searchBar__stage {
  position: relative;
}

.firstRect {
  position: absolute;
  top: -3px;
  left: 4px;
  padding: 10px 30px;
  background-color: #fcbc19;
  z-index: 1;
}

.secondRect {
  position: absolute;
  top: 2px;
  left: -1px;
  padding: 10px 30px;
  background-color: #fcbc19;
  z-index: 1;
}

.search-form__input {
  border-style: solid;
  border-color: #cfcfcf;
  height: 19px;
  border-radius: 20px;
}

.nav__list_webNovel,
.nav__list_movie,
.nav__list_broadcast,
.nav__list_book {
  display: flex;
  position: relative;
}

.alarm {
  position: absolute;
  top: -8px;
  right: -6px;
  padding: 3px;
  height: 0.5px;
  border-radius: 3px;
  background-color: #ffd200;
}

.nav__list_webtoon {
  position: relative;
}

.selected {
  padding: 2px;
  position: absolute;
  bottom: -16px;
  left: -37px;
  width: 100px;
  background-color: #ffd200;
}

.search-form {
  position: relative;
}

.search-form__input {
  position: absolute;
  top: -10px;
  left: -5px;
}
