.webtoon_bar {
  background-color: black;
  padding: 15px 60px;
  position: absolute;
  margin: 0;
  bottom: 5px;
  border-radius: 0px 0px 10px 10px;
}

.watch_icon {
  position: absolute;
  z-index: 2;
  bottom: 0;
}

.webtoon_bar__clock {
  position: absolute;
  z-index: 2;
  right: 0px;
  font-size: 10px;
  bottom: 8px;
  right: 7px;
  width: 17px;
}

.new_icon {
  width: 13px;
  margin-right: 3px;
}

.fifteen_icon {
  width: 14px;
  margin-right: -1px;
}
